<footer class="bg-dark">
    <div class="container-fluid py-10 pb-lg-6 px-xl-20">
        <div class="d-flex flex-column flex-lg-row align-items-center mb-6">
            <img class="me-lg-10 mb-10 mb-lg-0" src="../assets/images/Logo.png" alt="logo">
            <ul class="d-flex flex-column flex-lg-row align-items-center mb-10 mb-lg-0 ps-0 list-unstyled">
               <li><a class="link-white d-block py-2 px-lg-6" href="index.html">首頁</a></li>
               <li><a class="link-white d-block py-2 px-lg-6" href="groupActivities.html">揪團活動</a></li>
               <li><a class="link-white d-block py-2 px-lg-6" href="featuredShop.html">精選商家</a></li>
               <li><a class="link-white d-block py-2 px-lg-6" href="interaction.html">揪友交流</a></li>
               <li><a class="link-white d-block py-2 px-lg-6" href="QA.html">新手指南</a></li> 
            </ul>
            <ul class="d-flex align-items-center mb-0 ps-0 list-unstyled ms-lg-auto">
                <li><a href="#"><img src="../assets/images/facebook.png" alt="facebook"></a></li>
                <li class="mx-6"><a href="#"><img src="../assets/images/instagram.png" alt="instagram"></a></li>
                <li><a href="#"><img src="../assets/images/line.png" alt="line"></a></li>
             </ul>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-center text-gray-700 text-center">
            <small class="mb-2 mb-lg-0">JO團趣 ©2024 Copyrights All Rights Reserved</small>
            <small>本專題僅為學習用途,不做任何商業使用,圖片來源請見 GitHub Repo</small>
        </div>
    </div>
</footer>