@mixin self-sm{
    @media(min-width:576px){
        @content ;
    }
}
@mixin self-md{
    @media(min-width:768px){
        @content ;
    }
}
@mixin self-lg{
    @media(min-width:992px){
        @content ;
    }
}
@mixin self-xl{
    @media(min-width:1200px){
        @content ;
    }
}
@mixin self-xxl{
    @media(min-width:1400px){
        @content ;
    }
}

//============================================= banner  =============================================
.featured-banner{
    max-width: 100%;
    height: 300px;
    z-index: 1;
    @include self-sm{
        height: 250px;
    }
    @include self-lg{
        height: 350px;
        
    }
    @include self-xxl{
        height: 600px;
    }
}
// banner-左右
.featured-banner-img{
    width: 168px;
    height: 168px;
    z-index: 3;
    @include self-sm{
        width: 250px;
        height: 250px;
    }
    @include self-lg{
        width: 350px;
        height: 350px;
    }
    @include self-xxl{
        width: 600px;
        height: 600px;
        
    }
}
// banner-中間
.featured-banner-center{
    width: 276px ;
    height: 245px;
    margin-top: 104px;
    @include self-sm{
        width: 276px;
        height: 245px;
        margin-top: 60px;
    }
    @include self-xxl{
        width: 451px;
        height: 400px;
        margin-top: 0;
    }
}
// 大標題
.featuredShop-h1{
    float: left;
    background-image: url(../images/featuredShop-h1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 192px;
    height: 46px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    z-index : 999;
    margin-top: 72px; //加了13px，為圖片沒有的行高26px
    padding: 13px 0px;
    @include self-sm{
        width: 256px;
        height: 96px;
        margin-top: 87px;
    }
    @include self-xxl{
        width: 320px;
        height: 120px;
        margin-top: 102px; //加了22px，為圖片沒有的行高44px
    }
}
.featured-title-img{
    max-width: 115px;
    height: auto;
    margin-top: 127px;
    @include self-sm{
        max-width: 153px;
        margin-top: 150px;
    }
    @include self-xxl{
        max-width: 191px;
        margin-top: 216px;
    }
}
// ++++
.featured-banner-line{
    bottom: -144px;
    margin-left: 48px;
    z-index: 9999;
}
.people-line{
    margin-bottom: 74px;
    margin-right: 80px;
}

//============================================= 卡片區塊  =============================================

.featured-content{
    @include self-xxl{
        height: 2026px;
    }
    // 卡片容器
    .featured-card-all{
        z-index: 5;
        @include self-xxl{
            top: -296px;
        }
        button:hover{
            border: 2px solid #333333 !important;
        }
    }
    // 容器透明度
    .featured-opacity80{
        background-color: rgba(255, 255, 255, 0.8) !important; 
    }
    .card{
        background-color: rgba(255, 255, 255, 0.8) !important; 
    }
    // 行數限制
    .text-over{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3; // 限制行數為3行
        text-overflow: ellipsis;
    }
    // 右下圖片
    .people-circle{
        margin-bottom: 175px;
        margin-right: 44px;
    }
}
// ===愛心===
// .heart-circle{
//     width: 40px;
//     height: 40px;
// }
.featured{
    .heart {
        background: url(/JoTuanCu/assets/groupActivitiesHeart-247dd461.svg) no-repeat;
        width: 20px;
        height: 24px;
        display: block;
        
    }

    .btn-check:checked+.btn,
    :not(.btn-check)+.btn:active,
    .btn:first-child:active,
    .btn.active,
    .btn.show {
        .heart {
            background: url(../images/heart-fill.svg) no-repeat;
        }
    }
}

//============================================= modal  =============================================
// badge
.bg-C0ED5F{
    background: #C0ED5F;
}
.store-rounded{
    border-radius: 4px;
    @include self-lg{
        border-radius: 20px;
    }
}
// swiper
.featuredSwiper{
    .swiper-slide,.featuredSwiper-img{
        width: 108px;
        height: 108px;
    }
}
.featuredSwiper2{
    .swiper-button-prev,.swiper-button-next{
        width: 15px;
        height: 24px;
        color: #fff;
        top: calc(50% + 12px);
        &::after{
            font-size: 24px;
        }
    }
}
// 主圖
.modalRounded {
    border-radius: 4px;
    @media (min-width:992px) {
        border-radius: 20px;
    }
}
// 箭頭樣式
.shopSwiper{
    
    .swiper-button-next,
    .swiper-button-prev {
        --swiper-navigation-size: 24px;
        color: white;
        font-weight: 900;
    }
    .swiper-button-next{
        right: 0;
        margin-right: 12px;
    }
    .swiper-button-prev{
        left: 0;
        margin-left: 12px;
    }
}
// ====================================
.text-47481F{
    color: #47481F !important;
}
.messageBoard{
    @include self-lg{
        padding-top: 24px !important;
        padding-bottom: 143px !important;
    }
}
.message-texarea {
    ::placeholder {
        color: #ced4da;
        padding-top: 12px; //不讓輸入的字貼齊邊線，已有推12px
        padding-left: 12px; //不讓輸入的字貼齊邊線，已有推12px
    }
    .featured-texarea{
        height: 126px !important;
        resize:none;
    }
    .btn{
        padding: 8px 26px !important;
        @include self-lg{
            padding: 8px 54px !important;
        }
    }
    li{
        line-height: 0 !important;
    }
}
.featured-modal{
    // 視窗大小不限縮
    @media (max-width: 1200px) {
        .modal-dialog {
            width: 100%;
            max-width: none;
        }
    }
    li{
        line-height: 0 !important;
    }
    .featured-modal-close{
        z-index: 999999;
        &:focus{
            --bs-btn-close-focus-shadow: none !important;
        }
        @include self-lg{
            top: -16px;
            right: -16px; 
        } 
    }
    .btn-close{
        font-size: 16px;
        @include self-lg{
            font-size: 25px;
        }
    }
    .modal-dialog{
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    // 評分星星
    .star {
        background-image: url(/assets/images/star.png);
        background-repeat: no-repeat;
        background-size: cover !important;
        width: 16px;
        height: 16px;
        display: block;
    }
    .btn-check:checked+.btn,
    :not(.btn-check)+.btn:active,
    .btn:first-child:active,
    .btn.active,
    .btn.show {
        .star {
            background-image: url(/assets/images/star-full.png);
        }
    }
    .score{
        letter-spacing: 0.25px !important;
        @include self-sm{
            font-size: 16px !important;
            
        }
    }
    .message-btn{
        padding-left: 12px !important;
        padding-right: 12px !important;
        font-size: 14px !important;
        @include self-sm{
            padding-left: 26px !important;
            padding-right: 26px !important;
            font-size: 16px !important;
        }
    }
}
.starGroup{
    .btn{
        padding: 0 !important;
    }
}



// *,*::after,*::before{
//     outline: 1px solid red;
// }

