// 揪團活動 - banner -- 倫倫
.groupActivities {
  position: relative;
}

.banner-deco-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -15;
}
.groupActivities-bg-heading-cus,
.groupActivities-bg-heading-line-cus {
  position: absolute;
  z-index: -10;
}

.groupActivities-bg-heading-line-cus {
  left: 50%;
  transform: translate(-29%, -200px);
}

.groupActivitiesBannerTitle {
  padding-top: 22px;
  padding-bottom: 20px;
  width: 552px;
  // height: 76px;
  height: 118px;
  background-position: center 22px;
}

@media screen and (max-width: 575px) {
  .groupActivities-bg-heading-line-cus {
    transform: translate(-29%, -130px);
  }

  .groupActivitiesBannerTitle {
    padding-top: 11px;
    padding-bottom: 11px;
    width: 276px;
    // height: 38px;
    height: 60px;
    background-position: center center;
  }

  .letter-rwd {
    letter-spacing: normal;
  }
}

.groupActivities-banner-rwd {
  position: relative;
  z-index: -12;
}

@media screen and (max-width: 375px) {
  .groupActivities-banner-rwd {
    margin-top: -40px;
  }
}

// 揪團活動 - Jo到夥伴 -- 倫倫
.groupActivities-search {
  background: linear-gradient(to right, #fcff6f, #ceff66);
  position: relative;
}

/* 隱藏默認日期圖標 */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.cus-input-focus {
  box-shadow: 0px 0px 0px 4px #fcff6f40;
}

input[type="date"]::before {
  content: "選擇日期"; /* 自定義佔位符 */
  position: absolute;
  left: 36px;
  color: #808080; /* 佔位符顏色 */
  pointer-events: none; /* 禁用事件 */
}

input[type="date"] {
  position: relative; /* 設置相對定位以配合自定義圖標 */
  z-index: 1; /* 提高層級 */
  color: transparent;
}

/* 圖標容器 */
.custom-icon {
  position: relative;

  & > img {
    position: absolute;
    z-index: 2;
    left: 12px;
    top: 8px;
    pointer-events: none;
    cursor: pointer;
  }
}

.groupActivities-locationIcon {
  position: absolute;
  z-index: 2;
  left: 12px;
  top: 8px;
  pointer-events: none;
  cursor: pointer;
}

.groupActivities-search-deco {
  position: absolute;
  right: 20px;
  bottom: 40px;
}

@media screen and (max-width: 1500px) {
  .groupActivities-search-deco {
    transform: scale(0.8);
    right: -20px;
    bottom: 0px;
  }
}

@media screen and (max-width: 1300px) {
  .groupActivities-search-deco {
    transform: scale(0.6);
    right: -60px;
    bottom: -40px;
  }
}

@media screen and (max-width: 992px) {
  .groupActivities-search-deco {
    transform: scale(0.4);
    right: -95px;
    bottom: -80px;
  }
}

.groupActivities-search-cusInput {
  padding-left: 36px;
}

.groupActivities-search-cusSelect {
  padding: 8px 12px 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  color: #808080;
  cursor: pointer;
}

.form-select-cusLocation {
  --bs-form-select-bg-img: none;
  padding: 8px 12px 8px 36px;
  border-radius: 4px;
  font-size: 16px;
  color: #808080;
  cursor: pointer;
}

.groupActivitiesNextDeco {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.groupActivities-cus-card {
  background-color: #fff;
  cursor: pointer;
}

.groupActivities-cus-card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cus-groupActivities-card-body {
  padding: 16px 24px;
  background-color: #fff;
}

.groupActivities-cus-card-footer {
  padding: 20px 24px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.cus-groupActivities-card-body-heart {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

// 手刻 BS5 modal 解決愛心點擊問題

.groupActivities-list {
  .groupActivities-list-card-modal {
    z-index: 1055;
    // width: 500px;不確定有沒有套用
    //padding: 16px(設定是1rem); 不確定有沒有套用
    //margin: 8px(設定是0.5rem); F12是被槓掉的
    // color:; 內容為空
    // background: #fafafa;
    // border-color: rgba(0, 0, 0, 0.175);
    // border-width: 1px;
    // border-radius: 20px; // 1.25rem
    // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); F12是被槓掉的
    //inner-border-radius: calc(1.25rem - (1px));  bs5這樣設定的 但不知道為啥好像沒有這屬性
    position: fixed;
    top: 0;
    left: 0;
    // display: none;
    visibility: hidden;
    // 看F12應該是預設為 none 點擊後變為 block 同時新增 show的css，點xx按鈕或是外部時，變回none 同時show的css效果移除

    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    transition: opacity 0.15s linear; /* 過渡效果 */
    opacity: 0; /* 初始透明度 */

    // 有設定響應式 @media(min-width: 576px)
    // margin:1.75rem;
    // box-shadow:0 10px 40px 0px rgba(0,0,0,0.08) ;
  }

  .groupActivities-list-card-modal-backdrop {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1040;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }

  .groupActivities-list-card-modal.groupActivities-list-card-modal-show {
    display: block; /* 顯示彈窗 */
    visibility: visible;
    opacity: 1; /* 完全可見 */
    transition: opacity 0.15s linear; /* 過渡效果 */
  }

  // .groupActivities-list-groupActivitiesModal.groupActivities-list-groupActivitiesModal-fade
  //   .groupActivities-list-card-modal-dialog {
  //   transition: transform 0.3s ease-out;
  //   transform: translate(0, -50px);
  // }

  .groupActivities-list-card-modal.groupActivities-list-card-modal-show
    .groupActivities-list-card-modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, 28px);
  }

  // .groupActivities-list-groupActivitiesModal-fade {
  //   transition: opacity 0.15s linear;
  // }

  // .groupActivities-list-groupActivitiesModal-fade:not(.show) {
  //   opacity: 0;
  // }

  // .groupActivities-list-groupActivitiesModal-fade-show {
  //   opacity: 0;
  // }

  // .groupActivities-list-card-modal-dialog-ani {
  //   transition: transform 0.3s ease-out;
  //   transform: translate(0, -50px);
  // }

  .groupActivities-list-card-modal-dialog {
    // width: 100%;
    max-width: 740px;
    // 後面新增的
    position: relative;
    border-color: rgba(0, 0, 0, 0.175);
    border-width: 1px;
    border-radius: 20px; // 1.25rem
    background-color: #fff;
    // width: auto;
    // width: 100%;
    z-index: 1050;
    margin-top: 1.75rem;
    // margin-bottom: 1.75rem;
    margin-right: auto;
    margin-left: auto;
    // pointer-events: none;
  }

  // .groupActivities-list-modal-content {
  //   // position: relative; F12是被槓掉的
  //   display: flex;
  //   flex-direction: column;
  //   width: 100%;
  //   // color:;  F12顯示未定義
  //   pointer-events: auto;
  //   background-color: #fafafa;
  //   background-clip: padding-box;
  //   border: 1px solid rgba(0, 0, 0, 0.175);
  //   border-radius: 1.25rem;
  //   outline: 0;
  // }

  .card-modal-cus-img-wrap {
    width: 300px;
    height: 300px;
  }

  .btn-close-cus {
    box-shadow: none;
  }

  @media screen and (max-width: 791px) {
    .groupActivities-list-card-modal-dialog {
      // max-width: 540px;

      margin-left: 12px;
      margin-right: 12px;
    }
  }

  @media screen and (max-width: 767px) {
    .groupActivities-list-card-modal-dialog {
      max-width: 550px;
      margin-top: 0.5rem;
      margin-left: auto;
      margin-right: auto;
    }

    .card-modal-cus-img-wrap {
      width: 250px;
      height: 250px;
    }

    .card-modal-cus-text-wrap {
      height: 230px;
      overflow-y: scroll;
    }
  }

  @media screen and (max-width: 590px) {
    .groupActivities-list-card-modal-dialog {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  @media screen and (max-width: 350px) {
    .card-modal-cus-img-wrap {
      width: 200px;
      height: 200px;
    }
  }
}
