<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>精選商家｜JO團趣</title>
</head>
<body>
    <%- include('./layout/header', {page: "featuredShop" }); -%>
<!-- banner------------------------------------------------------------------------------------------------->
<div class="featured">
    <div class="featured-banner position-relative container-fluid">
        <!-- banner-img(左) -->
        <div class="featured-banner-img position-absolute top-0 start-0 wow fadeInLeft" style="background-image: url(../assets/images/banner-14.png); background-size: contain; background-repeat: no-repeat;"></div>
        <!-- banner-img(右) -->
        <div class="featured-banner-img position-absolute top-0 end-0 wow fadeInRight" style="background-image: url(../assets/images/banner-13.png); background-size: contain; background-repeat: no-repeat;"></div>
        <!-- +++++ -->
        <div class="featured-banner-line position-absolute d-none d-lg-block wow fadeInLeft" style="background: url(../assets/images/Decorative-lines-03.png) no-repeat ; height: 200px; width: 21px;"></div>
        <!-- title -->
        <div class="d-flex justify-content-center wow fadeInUp">
            <div class="featured-banner-center position-relative d-flex flex-column align-items-center" style="background-image: url(../assets/images/bg-heading.png);background-size: contain;">
                <h1 class="featuredShop-h1">精選商家</h1>
                <img class="featured-title-img position-absolute" src="../assets/images/Decorative-lines-04.png" alt="++++">
            </div>
        </div>
    </div>


<!-- 卡片區塊----------------------------------------------------------------------------------------------- -->
    <div class="featured-content position-relative d-flex justify-content-center" >
        <div class="featured-card-all position-absolute w-100 px-2">
            <section class="featured-opacity80 container overflow-hidden mb-10 rounded-3 p-4 p-sm-10">
                <div class="row g-6">
                    <!-- 1 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card position-relative border-0 rounded-3 wow fadeInUp">
                            <img class="rounded-3 card-img-top" src="../assets/images/card-11.png" alt="img" >
                            <div class="position-absolute end-0 d-flex align-items-center m-4">
                                <input type="checkbox" class="btn-check" id="btnHeart01" autocomplete="off" checked>
                                <label class="btn btn-white border-0 rounded-pill" for="btnHeart01" style="padding: 8px 10px;">
                                    <div class="heart"></div>
                                </label>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <h5 class="card-title me-4 mb-0">咖啡藝廊</h5>
                                    <div class="badge bg-C0ED5F h10"><i class="bi bi-bookmark-fill me-2"></i>優惠中</div>
                                </div>
                                <p class="card-text text-over mb-6 ">咖啡藝廊是一間結合咖啡與藝術的獨特空間。<br class="d-sm-none">這裡的每一杯咖啡都由專業的咖啡師精心製作，使用高品質的咖啡豆，提供濃郁香醇的咖啡。同時，店內展示著本地藝術家的作品，無論是畫作、雕塑還是手工藝品，都讓整個空間...</p>
                                <p class="card-text text-gray-700 mb-6"><i class="bi bi-geo-alt me-1"></i>台北市大安區光復南路120號</p>
                                <button type="button" class="hoverBorder btn btn-gray-200 w-100 h9 rounded-1" data-bs-toggle="modal" data-bs-target="#featuredModal">查看完整內容</button>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card position-relative border-0 rounded-3 wow fadeInUp">
                            <img class="rounded-3 card-img-top" src="../assets/images/card-12.png" alt="img" >
                            <div class="position-absolute end-0 d-flex align-items-center m-4">
                                <input type="checkbox" class="btn-check" id="btnHeart02" autocomplete="off" checked>
                                <label class="btn btn-white border-0 rounded-pill" for="btnHeart02" style="padding: 8px 10px;">
                                    <div class="heart"></div>
                                </label>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <h5 class="card-title me-4 mb-0">漫畫天地</h5>
                                    <div class="badge bg-C0ED5F h10"><i class="bi bi-bookmark-fill me-2"></i>優惠中</div>
                                </div>
                                <p class="card-text text-over mb-6 ">漫畫天地是一個專為漫畫迷打造的夢幻場所，提供各類漫畫、動漫周邊商品，還會定期舉辦簽名會及漫畫創作講座，讓粉絲們不僅能購買心愛的漫畫，也能與作者近距離互動，體驗豐富的動漫文化。</p>
                                <p class="card-text text-gray-700 mb-6"><i class="bi bi-geo-alt me-1"></i>臺北市中正區信義路100號</p>
                                <button type="button" class="hoverBorder btn btn-gray-200 w-100 h9 rounded-1">查看完整內容</button>
                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card position-relative border-0 rounded-3 wow fadeInUp">
                            <img class="rounded-3 card-img-top" src="../assets/images/card-13.png" alt="img" >
                            <div class="position-absolute end-0 d-flex align-items-center m-4">
                                <input type="checkbox" class="btn-check" id="btnHeart03" autocomplete="off" checked>
                                <label class="btn btn-white border-0 rounded-pill" for="btnHeart03" style="padding: 8px 10px;">
                                    <div class="heart"></div>
                                </label>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <h5 class="card-title me-4 mb-0">香氣工坊</h5>
                                    <div class="badge bg-C0ED5F h10"><i class="bi bi-bookmark-fill me-2"></i>優惠中</div>
                                </div>
                                <p class="card-text text-over mb-6 ">香氣工坊專注於天然香精的製作，致力於讓客戶感受到香氛的魅力。這裡不僅有各式香精產品，還提供香氛調配課程，讓顧客能親自創造獨特的香氣，感受生活中的美好與愉悅。</p>
                                <p class="card-text text-gray-700 mb-6"><i class="bi bi-geo-alt me-1"></i>高雄市鼓山區蓮海路45號</p>
                                <button type="button" class="hoverBorder btn btn-gray-200 w-100 h9 rounded-1">查看完整內容</button>
                            </div>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card position-relative border-0 rounded-3 wow fadeInUp">
                            <img class="rounded-3 card-img-top" src="../assets/images/card-25.png" alt="img" >
                            <div class="position-absolute end-0 d-flex align-items-center m-4">
                                <input type="checkbox" class="btn-check" id="btnHeart04" autocomplete="off" checked>
                                <label class="btn btn-white border-0 rounded-pill" for="btnHeart04" style="padding: 8px 10px;">
                                    <div class="heart"></div>
                                </label>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <h5 class="card-title me-4 mb-0">動力健身房</h5>
                                    <div class="badge bg-C0ED5F h10"><i class="bi bi-bookmark-fill me-2"></i>優惠中</div>
                                </div>
                                <p class="card-text text-over mb-6 ">動力健身房是一個全方位的健身中心，設有先進的健身設備及多樣化的團體課程，如瑜伽、有氧舞蹈等。無論是新手還是專業健身者，這裡都能提供個性化的健身計畫，助你達成健康目標。</p>
                                <p class="card-text text-gray-700 mb-6"><i class="bi bi-geo-alt me-1"></i>台中市南區建國北路88號</p>
                                <button type="button" class="hoverBorder btn btn-gray-200 w-100 h9 rounded-1">查看完整內容</button>
                            </div>
                        </div>
                    </div>
                    <!-- 5 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card position-relative border-0 rounded-3 wow fadeInUp">
                            <img class="rounded-3 card-img-top" src="../assets/images/card-26.png" alt="img" >
                            <div class="position-absolute end-0 d-flex align-items-center m-4">
                                <input type="checkbox" class="btn-check" id="btnHeart05" autocomplete="off">
                                <label class="btn btn-white border-0 rounded-pill" for="btnHeart05" style="padding: 8px 10px;">
                                    <div class="heart"></div>
                                </label>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <h5 class="card-title me-4 mb-0">創意市集</h5>
                                    <div class="badge bg-C0ED5F h10"><i class="bi bi-bookmark-fill me-2"></i>優惠中</div>
                                </div>
                                <p class="card-text text-over mb-6 ">創意市集是一個結合在地藝術家與設計師的平台，提供各式手作商品及文創產品，讓顧客能欣賞到獨特的藝術作品。定期舉辦市集活動和工作坊，促進創意交流，成為探索與支持在地藝術的重要據點。</p>
                                <p class="card-text text-gray-700 mb-6"><i class="bi bi-geo-alt me-1"></i>台北市信義區松壽路22號</p>
                                <button type="button" class="hoverBorder btn btn-gray-200 w-100 h9 rounded-1">查看完整內容</button>
                            </div>
                        </div>
                    </div>
                    <!-- 6 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card position-relative border-0 rounded-3 wow fadeInUp">
                            <img class="rounded-3 card-img-top" src="../assets/images/card-27.png" alt="img" >
                            <div class="position-absolute end-0 d-flex align-items-center m-4">
                                <input type="checkbox" class="btn-check" id="btnHeart06" autocomplete="off">
                                <label class="btn btn-white border-0 rounded-pill" for="btnHeart06" style="padding: 8px 10px;">
                                    <div class="heart"></div>
                                </label>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <h5 class="card-title me-4 mb-0">知識之源圖書館</h5>
                                </div>
                                <p class="card-text text-over mb-6 ">知識之源圖書館擁有豐富的書籍藏量，提供安靜舒適的閱讀空間，讓讀者可以沉浸於書海之中。定期舉辦講座、書友會和親子活動，鼓勵社區居民探索知識的魅力，提升閱讀風氣。</p>
                                <p class="card-text text-gray-700 mb-6"><i class="bi bi-geo-alt me-1"></i>新北市板橋區文化路118號</p>
                                <button type="button" class="hoverBorder btn btn-gray-200 w-100 h9 rounded-1">查看完整內容</button>
                            </div>
                        </div>
                    </div>
                    <!-- 7 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card position-relative border-0 rounded-3 wow fadeInUp">
                            <img class="rounded-3 card-img-top" src="../assets/images/card-28.png" alt="img" >
                            <div class="position-absolute end-0 d-flex align-items-center m-4">
                                <input type="checkbox" class="btn-check" id="btnHeart07" autocomplete="off">
                                <label class="btn btn-white border-0 rounded-pill" for="btnHeart07" style="padding: 8px 10px;">
                                    <div class="heart"></div>
                                </label>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <h5 class="card-title me-4 mb-0">風情麵店</h5>
                                    <div class="badge bg-C0ED5F h10"><i class="bi bi-bookmark-fill me-2"></i>優惠中</div>
                                </div>
                                <p class="card-text text-over mb-6 ">義大利風情義大利麵店專注於提供正宗的義大利美食，所有菜品皆由新鮮食材製作，包括手工義大利麵和薄底披薩。餐廳氛圍溫馨，適合家庭聚餐或浪漫約會，讓每位顧客都能享受一場美食盛宴。</p>
                                <p class="card-text text-gray-700 mb-6"><i class="bi bi-geo-alt me-1"></i>園市桃園區中正路145號</p>
                                <button type="button" class="hoverBorder btn btn-gray-200 w-100 h9 rounded-1">查看完整內容</button>
                            </div>
                        </div>
                    </div>
                    <!-- 8 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card position-relative border-0 rounded-3 wow fadeInUp">
                            <img class="rounded-3 card-img-top" src="../assets/images/card-29.png" alt="img" >
                            <div class="position-absolute end-0 d-flex align-items-center m-4">
                                <input type="checkbox" class="btn-check" id="btnHeart08" autocomplete="off">
                                <label class="btn btn-white border-0 rounded-pill" for="btnHeart08" style="padding: 8px 10px;">
                                    <div class="heart"></div>
                                </label>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <h5 class="card-title me-4 mb-0">夜幕酒吧</h5>
                                </div>
                                <p class="card-text text-over mb-6 ">夜幕酒吧以其獨特的調酒藝術和輕食而聞名，是放鬆和社交的理想場所。酒吧內部裝潢時尚，氛圍舒適，無論是和朋友聚會還是單獨享受，這裡都能帶來愉悅的夜晚體驗。</p>
                                <p class="card-text text-gray-700 mb-6"><i class="bi bi-geo-alt me-1"></i>台北市大同區南京西路200號</p>
                                <button type="button" class="hoverBorder btn btn-gray-200 w-100 h9 rounded-1">查看完整內容</button>
                            </div>
                        </div>
                    </div>
                    <!-- 9 -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card position-relative border-0 rounded-3 wow fadeInUp">
                            <img class="rounded-3 card-img-top" src="../assets/images/card-30.png" alt="img" >
                            <div class="position-absolute end-0 d-flex align-items-center m-4">
                                <input type="checkbox" class="btn-check" id="btnHeart09" autocomplete="off">
                                <label class="btn btn-white border-0 rounded-pill" for="btnHeart09" style="padding: 8px 10px;">
                                    <div class="heart"></div>
                                </label>
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <h5 class="card-title me-4 mb-0">星空酒吧</h5>
                                    <div class="badge bg-C0ED5F h10"><i class="bi bi-bookmark-fill me-2"></i>優惠中</div>
                                </div>
                                <p class="card-text text-over mb-6 ">星空酒吧結合天文主題和美酒，設有觀星平台讓顧客在星空下品酒。除了特調飲品，酒吧內還會舉辦天文講座和活動，讓顧客在享受飲品的同時，探索宇宙的奧秘，增添夜晚的神秘色彩。
                                </p>
                                <p class="card-text text-gray-700 mb-6"><i class="bi bi-geo-alt me-1"></i>台中市北區中清路12號</p>
                                <button type="button" class="hoverBorder btn btn-gray-200 w-100 h9 rounded-1">查看完整內容</button>
                            </div>
                        </div>
                    </div>                    
                </div>
            </section>
<!-- 分頁 -->
            <div class="d-flex justify-content-center w-100 mb-20 mb-lg-30">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <i class="bi bi-three-dots" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">6</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">7</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <i class="bi bi-three-dots" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">20</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <%- include('./layout/footer'); -%>
        </div>
<!-- 右下插圖 -->
        <div class="people-circle position-absolute bottom-0 end-0 d-none d-xxl-block wow fadeInRight" style="background-image: url(../assets/images/bg-heading-2.png); background-size: contain; background-repeat: no-repeat; width: 391px; height: 344px;"></div>
        <div class="position-absolute bottom-0 end-0 d-none d-xxl-block wow fadeInRight" style="background-image: url(../assets/images/illustrate-feature-02.svg); background-size: contain; width: 303px;height: 227px; "></div>
        <div class="people-line position-absolute bottom-0 end-0 d-none d-xxl-block wow fadeInRight" style="background-image: url(../assets/images/Decorative-lines-03.png); background-size: contain; width: 21px;height: 200px;"></div>
    </div>



<!-- Modal ------------------------------------------------------------------------------------------------->
    <div class="modal fade featured-modal px-6" id="featuredModal" tabindex="-1" aria-labelledby="featuredModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl mx-auto modal-dialog-scrollable">
            <div class="modal-content position-relative px-4 p-md-10">
                <div class="modal-header border-0">
                    <button type="button" class="featured-modal-close btn-close position-absolute end-0 top-0 m-6" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row px-0 flex-lg-row-reverse">
<!-- 標題-mobile -->
                    <div class="col-12 d-lg-none mb-6">
                        <div>
                            <p class="h5 mb-4">咖啡藝廊</p>
                            <div class="d-flex align-items-center">
                                <p class="fs-7 me-1">4.3</p>
                                <img class="me-4" src="../assets/images/star-full.png" alt="star" width="16" height="16">
                                <p class="h10 badge bg-C0ED5F text-dark"><i class="bi bi-bookmark-fill me-2"></i>優惠中</p>
                            </div>
                        </div>
                    </div>
<!-- 圖片+商家資訊 -->
                    <div class="col-12 col-lg-5 mb-6 mb-lg-0 order-lg-2 d-flex flex-column">
                        <div class="position-relative">
                            <img src="../assets/images/card-11.png" class="store-rounded mb-4 w-100 img-fluid" alt="img">
                            <div class="position-absolute top-0 end-0 d-flex align-items-center m-4 d-lg-none">
                                <input type="checkbox" class="btn-check" id="btnHeart10" autocomplete="off" checked>
                                <label class="btn btn-white border-0 rounded-pill" for="btnHeart10" style="padding: 8px 10px;">
                                    <div class="heart"></div>
                                </label>
                            </div>
                        </div>
<!-- mobile-商家圖片 -->
                        <ul class="list-unstyled d-flex d-gird gap-3 gap-lg-4 d-lg-none mb-4">
                            <li><img class="rounded img-fluid" src="../assets/images/cafes-1.png" alt="img"></li>
                            <li><img class="rounded img-fluid" src="../assets/images/cafes-2.png" alt="img"></li>
                            <li><img class="rounded img-fluid" src="../assets/images/cafes-3.png" alt="img"></li>
                            <li><img class="rounded img-fluid" src="../assets/images/cafes-4.png" alt="img"></li>
                        </ul>
<!-- PC-商家圖片-swiper -->
                        <div class="swiper featuredSwiper d-none d-lg-block mb-4 w-100">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img class="featuredSwiper-img rounded-3" src="../assets/images/cafes-1.png" alt="img" ></div>
                                <div class="swiper-slide"><img class="featuredSwiper-img rounded-3" src="../assets/images/cafes-2.png" alt="img" ></div>
                                <div class="swiper-slide"><img class="featuredSwiper-img rounded-3" src="../assets/images/cafes-3.png" alt="img" ></div>
                                <div class="swiper-slide"><img class="featuredSwiper-img rounded-3" src="../assets/images/cafes-4.png" alt="img" ></div>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                        <p class="fs-10 text-gray-700 mb-2"><i class="bi bi-geo-alt me-1"></i>台北市大安區光復南路120號</p>
                        <p class="fs-10 text-gray-700 mb-2"><i class="bi bi-clock me-1"></i>周一 ~ 周日 <span class="ms-6">13:00 - 20:00</span></p>
<!-- map -->
                        <img class="w-100 mb-4 d-xxl-none" src="../assets/images/map-sm.png" alt="map" height="100">
                        <img class="w-100 mb-4 d-none d-xxl-block " src="../assets/images/map-lg.png" alt="map">
<!-- 優惠券 --------------------------------------------------------------------------------------------------->
                        <a class="btn btn-outline-shadow d-block mt-auto mb-lg-0" data-bs-toggle="offcanvas" href="#saleOffcanvas" role="button" aria-controls="offcanvas">領取優惠券</a>
                        <div class="offcanvas offcanvas-start top-50 start-50 translate-middle p-4 border-0 bg-white" tabindex="-1" id="saleOffcanvas" aria-labelledby="offcanvasLabel" style="width: 300px; height: 339px;">
                            <div class="d-flex justify-content-between">
                                <h6 class="text-47481F">領取優惠券</h6>
                                <button type="button" class="btn-close p-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="d-flex flex-column justify-content-center align-items-center my-4">
                                <img src="../assets/images/qrcode.png" alt="qrcode">
                                <p class="my-4">2 本 95 折</p>
                            </div>
                            <div class="d-flex justify-content-end mt-3">
                                <button type="button" class="btn btn-secondary " data-bs-dismiss="offcanvas" aria-label="Close">關閉</button>
                            </div>
                        </div>
                    </div>
<!-- 留言 -->
                    <div class="col-12 col-lg-7 order-lg-1 d-flex flex-column ">
<!-- title-PC -->
                        <div class="d-none d-lg-block mb-6">
                            <h4 class="mb-4">咖啡藝廊</h4>
                            <div class="d-flex align-items-center">
                                <p class="fs-7 me-1">4.3</p>
                                <img class="me-4" src="../assets/images/star-full.png" alt="star" width="16" height="16">
                                <p class="h10 badge bg-C0ED5F text-dark"><i class="bi bi-bookmark-fill me-2"></i>優惠中</p>
                            </div>
                        </div>
<!-- 留言板 -->
                        <div class="messageBoard bg-light border border-gray-300 mb-4 px-6 py-4 rounded-3">
                            <!-- 1 -->
                            <div class="d-flex align-items-center mb-2">
                                <img class="me-4" src="../assets/images/author-02.png" alt="people">
                                <h8 class="fw-bold">劉明</h8>
                                <p class="fs-10 text-gray-700 ms-auto">2024/04/26</p>
                            </div>
                            <div class="bg-white mb-4 rounded-3 border border-1 py-5 py-lg-6 ps-5 ps-lg-8">
                                <div class="d-flex mb-4">
                                    <p>評分：</p>
                                    <ul class="list-unstyled d-flex align-items-center d-grid gap-2 mb-0">
                                        <li><img src="../assets/images/star-full.png" alt="star" width="16" height="16"></li>
                                        <li><img src="../assets/images/star-full.png" alt="star" width="16" height="16"></li>
                                        <li><img src="../assets/images/star-full.png" alt="star" width="16" height="16"></li>
                                        <li><img src="../assets/images/star-full.png" alt="star" width="16" height="16"></li>
                                        <li><img src="../assets/images/star.png" alt="star" width="16" height="16"></li>
                                    </ul>
                                </div>
                                <p>邊喝咖啡邊閱讀的好去處!!</p>  
                            </div>
                            <!-- 2 -->
                            <div class="d-flex align-items-center mb-2">
                                <img class="me-4" src="../assets/images/author-03.png" alt="people">
                                <h8 class="fw-bold">Samew5151</h8>
                                <p class="fs-10 text-gray-700 ms-auto">2024/04/26</p>
                            </div>
                            <div class="bg-white rounded-3 border border-1 py-5 py-lg-6 ps-5 ps-lg-8">
                                <div class="d-flex mb-4">
                                    <p>評分：</p>
                                    <ul class="list-unstyled d-flex align-items-center d-grid gap-2 mb-0">
                                        <li><img src="../assets/images/star-full.png" alt="star" width="16" height="16"></li>
                                        <li><img src="../assets/images/star-full.png" alt="star" width="16" height="16"></li>
                                        <li><img src="../assets/images/star-full.png" alt="star" width="16" height="16"></li>
                                        <li><img src="../assets/images/star-full.png" alt="star" width="16" height="16"></li>
                                        <li><img src="../assets/images/star.png" alt="star" width="16" height="16"></li>
                                    </ul>
                                </div>
                                <p>書籍眾多，讓人放鬆的地方</p>  
                            </div>
                        </div>
<!-- 輸入框+評分 -->
                        <form class="message-texarea mt-auto" id="commentForm">
                            <textarea id="messageText"  class="featured-texarea form-control border-gray-500 mb-4" placeholder="留下評論......" required></textarea>
                            <div class="d-flex align-items-center">
                                <p class="score">評分：</p>
                                <ul class="starGroup list-unstyled d-flex align-items-center d-grid gap-2 mb-0">
                                    <li class="lh-0">
                                        <input type="checkbox" class="btn-check" id="btnStar01" autocomplete="off">
                                        <label class="btn border-0 p-0 " for="btnStar01">
                                            <div class="star"></div>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="btn-check" id="btnStar02" autocomplete="off">
                                        <label class="btn border-0 p-0" for="btnStar02">
                                            <div class="star"></div>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="btn-check" id="btnStar03" autocomplete="off">
                                        <label class="btn border-0 p-0" for="btnStar03">
                                            <div class="star"></div>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="btn-check" id="btnStar04" autocomplete="off">
                                        <label class="btn border-0 p-0" for="btnStar04">
                                            <div class="star"></div>
                                        </label>
                                    </li>
                                    <li>
                                        <input type="checkbox" class="btn-check" id="btnStar05" autocomplete="off">
                                        <label class="btn border-0 p-0" for="btnStar05">
                                            <div class="star"></div>
                                        </label>
                                    </li>
                                </ul>
                                <button type="submit" class="message-btn btn btn-primary ms-auto flex-nowrap">送出評論</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 評論成功-modal ---------------------------------------------------------------------------------------------->
    <div class="featuredSuccess modal fade" id="featuredSuccess" tabindex="-1" aria-labelledby="featuredSuccess" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-white">
                <div class="modal-body mx-4 border-0 d-flex flex-column align-items-center bg-white">
                    <h6 class="modal-title">評論成功</h6>
                </div>
            </div>
        </div>
    </div>
</div>


    <script type="module" src="../main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
</body>
</html>