<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>揪團活動｜JO團趣</title>
  </head>

  <body>
    <%- include('./layout/header', {page: "groupActivities" }); -%>

    <section class="groupActivities-startEvent py-sm-30 py-16">
      <div class="container">
        <form action="#" id="uploadForm">
          <div class="row mb-8">
            <div class="col-12">
              <div class="border border-dark rounded-3 bg-white">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-6 col-12">
                    <div class="py-lg-10 ps-lg-20 pe-lg-0 p-10 h-100">
                      <div class="h-100 uploadWrap">
                        <div
                          class="d-flex flex-column align-items-center justify-content-center h-100 py-lg-0 py-15"
                          style="
                            border: 2px dashed #808080;
                            background-color: #d3d3d3;
                          "
                        >
                          <p>請至少上傳一張圖片</p>
                          <button
                            type="button"
                            class="text-white rounded-2 py-3 px-10 my-2 fw-light"
                            style="background-color: gray; border: none"
                            id="uploadButton"
                          >
                            點選上傳圖片
                          </button>
                          <input
                            type="file"
                            id="fileUpload"
                            name="fileUpload"
                            accept="image/*"
                            style="display: none"
                          />

                          <p>上傳檔案大小上限：128MB</p>
                          <div
                            class="fileUploadModalWrap"
                            id="fileUploadModalWrap"
                          >
                            <div id="fileUploadModal" class="fileUploadModal">
                              <div
                                class="fileUploadModal-content"
                                id="fileUploadModalContent"
                              >
                                <span class="fileUploadModalClose"
                                  >&times;</span
                                >
                                <p style="padding-top: 20px">
                                  請上傳一張圖片！
                                </p>
                              </div>
                            </div>
                          </div>
                          <div
                            class="startJoTeamModalWrap"
                            id="startJoTeamModalWrap"
                          >
                            <div id="startJoTeamModal" class="startJoTeamModal">
                              <div
                                class="startJoTeamModal-content"
                                id="startJoTeamModalContent"
                              >
                                <span class="startJoTeamModalClose"
                                  >&times;</span
                                >
                                <p
                                  class="text-center"
                                  style="padding-top: 20px"
                                >
                                  恭喜您！<br />成功發起了一個新的揪團！
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div
                      class="py-lg-10 pe-lg-20 ps-lg-0 pt-0 pb-10 px-10 h-100"
                    >
                      <div class="h-100">
                        <div class="mb-3">
                          <h3 class="fs-5 mb-2">活動主題</h3>
                          <input
                            class="w-100 groupActivities-startEvent-cusInput"
                            type="text"
                            placeholder="請填寫活動名稱"
                            name="activitiesTitle"
                            required
                          />
                        </div>

                        <div>
                          <h3 class="fs-5 mb-2">活動描述</h3>

                          <textarea
                            class="w-100 groupActivities-startEvent-cusTextarea"
                            type="text"
                            style="height: 200px"
                            placeholder="請填寫活動描述"
                            name="activitiesDescribe"
                            id="groupActivitiesStartEventCusTextarea"
                            required
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="border border-dark rounded-3 bg-white py-10">
                <div class="row mb-8">
                  <div class="col-12">
                    <div
                      class="row d-flex flex-lg-row flex-column justify-content-center px-lg-0 px-10"
                    >
                      <div class="col-lg-3 col-12 mb-lg-0 mb-4">
                        <h3 class="fs-5 text-lg-center text-start">活動地點</h3>
                      </div>
                      <div class="col-lg-5 col-12">
                        <div class="position-relative mb-4">
                          <img
                            src="../assets/images/groupActivities-search-locationIcon.png"
                            alt="groupActivities-startEvent-locationIcon"
                            class="position-absolute groupActivities-startEvent-locationIcon"
                          />
                          <select
                            class="form-select form-select-sm form-select-startEvent-cusLocation"
                            aria-label="Small select example"
                            id="locationStartEventSelect"
                            name="activitiesLocation"
                            required
                          >
                            <option value="" disabled selected hidden>
                              選擇地點
                            </option>
                            <option value="Keelung">基隆</option>
                            <option value="Taipei">台北</option>
                            <option value="NewTaipei">新北</option>
                            <option value="Taichung">台中</option>
                            <option value="Tainan">台南</option>
                            <option value="Kaohsiung">高雄</option>
                            <option value="Other">其他</option>
                          </select>
                        </div>
                        <div>
                          <input
                            class="w-100 groupActivities-startEvent-cusInput"
                            type="text"
                            placeholder="請填寫活動地址"
                            name="activitiesAddress"
                            required
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-8">
                  <div class="col-12">
                    <div
                      class="row d-flex flex-lg-row flex-column justify-content-center px-lg-0 px-10"
                    >
                      <div class="col-lg-3 col-12 mb-lg-0 mb-4">
                        <h3 class="fs-5 text-lg-center text-start">活動時間</h3>
                      </div>
                      <div class="col-lg-5 col-12">
                        <div
                          class="groupActivities-startEvent-dateInputWrap mb-4"
                        >
                          <label
                            for="groupActivitiesStartEventDateInput"
                            class="form-label d-none"
                            >選擇日期</label
                          >
                          <input
                            type="date"
                            id="groupActivitiesStartEventDateInput"
                            class="form-control groupActivities-startEvent-dateInput groupActivities-startEvent-custom-date"
                            name="activitiesDate"
                            required
                          />
                          <img
                            src="../assets/images/groupActivities-search-dateIcon.png"
                            alt="Calendar Icon"
                            id="groupActivities-startEvent-customIcon"
                            class="groupActivities-startEvent-locationIcon"
                          />
                        </div>
                        <div class="groupActivities-startEvent-timeInputWrap">
                          <label
                            for="groupActivitiesStartEventTimeInput"
                            class="form-label d-none"
                            >選擇時間</label
                          >
                          <input
                            type="time"
                            id="groupActivitiesStartEventTimeInput"
                            class="form-control groupActivities-startEvent-timeInput groupActivities-startEvent-custom-time"
                            name="activitiesTime"
                            required
                          />
                          <i
                            class="bi bi-clock"
                            style="font-size: 16px; color: #808080"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-8">
                  <div class="col-12">
                    <div
                      class="row d-flex flex-lg-row flex-column justify-content-center px-lg-0 px-10"
                    >
                      <div class="col-lg-3 col-12 mb-lg-0 mb-4">
                        <h3 class="fs-5 text-lg-center text-start">活動人數</h3>
                      </div>
                      <div
                        class="col-lg-5 col-12 groupActivities-startEvent-numberInput"
                      >
                        <input
                          class="w-100 groupActivities-startEvent-cusInput"
                          type="number"
                          value="2"
                          min="2"
                          name="activitiesPeopleNum"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-8">
                  <div class="col-12">
                    <div
                      class="row d-flex flex-lg-row flex-column justify-content-center px-lg-0 px-10"
                    >
                      <div class="col-lg-3 col-12 mb-lg-0 mb-4">
                        <h3 class="fs-5 text-lg-center text-start">活動類型</h3>
                      </div>
                      <div class="col-lg-5 col-12">
                        <select
                          class="form-select form-select-sm groupActivities-startEvent-activityType"
                          aria-label="Small select example"
                          id="activityStartEventSelect"
                          name="activitiesType"
                          required
                        >
                          <option value="" disabled selected hidden>
                            選擇活動
                          </option>
                          <option value="sport">運動</option>
                          <option value="learn">學習</option>
                          <option value="food">美食</option>
                          <option value="travel">旅遊</option>
                          <option value="activities">休閒活動</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-12">
                  <div class="col-12">
                    <div
                      class="row d-flex flex-lg-row flex-column justify-content-center px-lg-0 px-10"
                    >
                      <div class="col-lg-3 col-12 mb-lg-0 mb-4">
                        <h3 class="fs-5 text-lg-center text-start">活動費用</h3>
                      </div>
                      <div class="col-lg-5 col-12">
                        <div>
                          <input
                            class="w-100 groupActivities-startEvent-cusInput"
                            type="text"
                            placeholder="請輸入活動費用"
                            name="activitiesCost"
                            required
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 d-flex">
                    <button
                      type="submit"
                      class="btn border-2 border-dark btn-outline-shadow mx-auto rounded-pill"
                    >
                      發起揪團
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
