<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>首頁｜JO團趣</title>
</head>

<body>
  <%- include('./layout/header', {page: "index" }); -%>

    <!-- <header class="container text-center">
      <h1 class="mb-6 fw-normal fs-2 fs-lg-1">相遇於心<span class="d-none d-lg-inline-block">，</span><br class="d-block d-lg-none">同行於趣</h1>
      <div class="d-flex justify-content-center">
        <select class="form-select me-2" aria-label="Default select example" style="max-width: 342px;">
          <option selected>選擇活動</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <select class="form-select me-2" aria-label="Default select example" style="max-width: 169px;">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <select class="form-select me-10" aria-label="Default select example" style="max-width: 169px;">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <button type="button" class="btn btn-outline-shadow">搜尋</button>
      </div>
    </header> -->

    <!-- 最新活動 -->
    <section class="py-16 py-md-30 index-newActivity">
      <div class="container px-0 px-md-3">
        <h2 class="fw-light fs-3 fs-md-2 text-center mb-12 mb-md-10">最新活動</h2>
        <div class="wiper-pagination swiper-pagination-indexNewActivity position-static mb-12 mb-md-10 text-center">
        </div>
        <div class="position-relative">
          <div class="swiper index-newActivitySwiper">
            <div class="flex-nowrap swiper-wrapper">
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-11.png" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="newActivityBtnLove01" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="newActivityBtnLove01"
                      style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4">咖啡藝廊</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text mb-auto card-text-truncate">
                      咖啡藝廊是一間結合咖啡與藝術的獨特空間。<br>
                      這裡的每一杯咖啡都由專業的咖啡師精心製作，使用高品質的咖啡豆，提供濃郁香醇的咖啡。<br>
                      同時，店內展示著本地藝術家的作品，無論是畫作、雕塑還是手工藝品，都讓整個空間...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt"></i>
                      <p>台北市大安區光復南路120號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block">查看完整內容</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-11.png" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="newActivityBtnLove01" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="newActivityBtnLove01"
                      style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4">咖啡藝廊</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text mb-auto card-text-truncate">
                      咖啡藝廊是一間結合咖啡與藝術的獨特空間。<br>
                      這裡的每一杯咖啡都由專業的咖啡師精心製作，使用高品質的咖啡豆，提供濃郁香醇的咖啡。<br>
                      同時，店內展示著本地藝術家的作品，無論是畫作、雕塑還是手工藝品，都讓整個空間...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt"></i>
                      <p>台北市大安區光復南路120號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block">查看完整內容</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-11.png" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="newActivityBtnLove01" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="newActivityBtnLove01"
                      style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4">咖啡藝廊</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text mb-auto card-text-truncate">
                      咖啡藝廊是一間結合咖啡與藝術的獨特空間。<br>
                      這裡的每一杯咖啡都由專業的咖啡師精心製作，使用高品質的咖啡豆，提供濃郁香醇的咖啡。<br>
                      同時，店內展示著本地藝術家的作品，無論是畫作、雕塑還是手工藝品，都讓整個空間...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt"></i>
                      <p>台北市大安區光復南路120號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block">查看完整內容</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-11.png" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="newActivityBtnLove01" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="newActivityBtnLove01"
                      style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4">咖啡藝廊</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text mb-auto card-text-truncate">
                      咖啡藝廊是一間結合咖啡與藝術的獨特空間。<br>
                      這裡的每一杯咖啡都由專業的咖啡師精心製作，使用高品質的咖啡豆，提供濃郁香醇的咖啡。<br>
                      同時，店內展示著本地藝術家的作品，無論是畫作、雕塑還是手工藝品，都讓整個空間...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt"></i>
                      <p>台北市大安區光復南路120號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block">查看完整內容</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-11.png" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="newActivityBtnLove01" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="newActivityBtnLove01"
                      style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4">咖啡藝廊</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text mb-auto card-text-truncate">
                      咖啡藝廊是一間結合咖啡與藝術的獨特空間。<br>
                      這裡的每一杯咖啡都由專業的咖啡師精心製作，使用高品質的咖啡豆，提供濃郁香醇的咖啡。<br>
                      同時，店內展示著本地藝術家的作品，無論是畫作、雕塑還是手工藝品，都讓整個空間...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt"></i>
                      <p>台北市大安區光復南路120號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block">查看完整內容</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next swiper-button-next-indexNewActivity"></div>
          <div class="swiper-button-prev swiper-button-prev-indexNewActivity"></div>
        </div>
        <div class="text-center mt-8">
          <a class="fw-bold border-bottom border-dark " href="featuredShop.html" style="padding: 5.5px 4px;">
            查看更多商家
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- 新手指南 -->
    <section class="qaBg ">
      <div class="container py-16 py-lg-30">
        <div class="row justify-content-center text-center mb-16 mb-lg-20">
          <div class="col-lg-6">
            <img class="mb-4" src="../assets/images/Decorative-lines-02.png" alt="photo">
            <p>在這裡，我們相信共同的目標能夠讓陌生人成為朋友。無論你是想找人一起吃飯、看電影、旅遊、運動還是學習，JO團趣都是你最佳的選擇。快來加入我們，發起活動或參與其他人的活動，讓你的每一天都充滿樂趣和驚喜！</p>
          </div>
        </div>
        <div class="row illustRead">
          <div class="col-xl-6 text-center">
            <img class="img-fluid" src="../assets/images/banner-09.png" alt="photo">
          </div>
          <div class="col-xl-6 d-flex flex-column justify-content-center align-items-center my-6 my-xl-0">
            <div class="px-lg-40">
              <div class="d-flex align-items-center">
                <img class="me-5" src="../assets/images/icon-01.png" alt="photo">
                <h3 class="fs-4">快速找到活動</h3>
              </div>
              <img class="mb-6" src="../assets/images/Decorative-lines-08.png" alt="photo">
              <p>想加入現成的活動？在JO團趣上，你可以輕鬆瀏覽各種活動，找到最適合自己的那一場。</p>
            </div>
          </div>
        </div>
        <div class="row illustSport flex-column-reverse flex-xl-row">
          <div class="col-xl-6 d-flex flex-column justify-content-center align-items-center my-6 my-xl-0">
            <div class="px-lg-40">
              <div class="d-flex align-items-center">
                <img class="me-5" src="../assets/images/icon-02.png" alt="photo">
                <h3 class="fs-4">輕鬆發起活動</h3>
              </div>
              <img class="mb-6" src="../assets/images/Decorative-lines-07.png" alt="photo">
              <p>想吃美食、看電影還是出去玩?只需幾步,就能輕鬆發起自己的活動,吸引志同道合的朋友一起參加。</p>
            </div>
          </div>
          <div class="col-xl-6 text-center mt-10 mt-xl-0">
            <img class="img-fluid" src="../assets/images/banner-10.png" alt="photo">
          </div>
        </div>
        <div class="row illustDrink mb-10">
          <div class="col-xl-6 text-center mt-10 mt-xl-0">
            <img class="img-fluid" src="../assets/images/banner-11.png" alt="photo">
          </div>
          <div class="col-xl-6 d-flex flex-column justify-content-center align-items-center my-6 my-xl-0">
            <div class="px-lg-40">
              <div class="d-flex align-items-center">
                <img class="me-5" src="../assets/images/icon-03.png" alt="photo">
                <h3 class="fs-4">交友與快樂兼得</h3>
              </div>
              <img class="mb-6" src="../assets/images/Decorative-lines-09.png" alt="photo">
              <p>透過參加活動,你不僅能夠實現自己的目標,還能結交新朋友,擴展自己的社交圈。</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column">
          <div class="text-center" style="width: 306px;">
            <img class="mb-12" src="../assets/images/Decorative-lines-05.png" alt="photo">
            <a href="QA.html" class="btn btn-outline-shadow d-block">立即加入JO團趣</a>
            <div class="text-center mt-8">
              <a class="fw-bold border-bottom border-dark " href="#" style="padding: 5.5px 4px;">
                查看新手指南
                <i class="bi bi-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 好評推薦 -->
    <section class="bg-primary-h pt-40 pb-42">
      <div class="container">
        <h2 class="fw-light text-center mb-23">好評推薦</h2>
      </div>
    </section>

    <!-- 熱門商家 -->
    <section class="py-16 py-md-30 index-featuredShop">
      <div class="container px-0 px-md-3">
        <h2 class="fw-light fs-3 fs-md-2 text-center mb-12 mb-md-10">熱門商家</h2>
        <div class="swiper-pagination-indexFeaturedShop position-static mb-12 mb-md-10 text-center"></div>
        <div class="position-relative">
          <div class="swiper index-featuredShopSwiper">
            <div class="flex-nowrap swiper-wrapper">
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-11.png" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="btnLove01" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="btnLove01" style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4 text-truncate">咖啡藝廊</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text card-text-truncate">
                      咖啡藝廊是一間結合咖啡與藝術的獨特空間。<br>
                      這裡的每一杯咖啡都由專業的咖啡師精心製作，使用高品質的咖啡豆，提供濃郁香醇的咖啡。<br>
                      同時，店內展示著本地藝術家的作品，無論是畫作、雕塑還是手工藝品，都讓整個空間...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt me-1 px-1"></i>
                      <p class="text-truncate">台北市大安區光復南路120號</p>
                    </div>
                    <a href="#indexFeaturedShopModal-1" class="text-nowrap btn btn-gray-200 d-block"
                      data-bs-toggle="modal">查看完整內容</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-12.png" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="btnLove02" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="btnLove02" style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4 text-truncate">書香小巷</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text card-text-truncate">
                      書香小巷是一間溫馨的獨立書店，無論你是愛好小說、詩歌還是專業書籍，都能在這裡找到心儀的讀物。店內設有舒適的閱讀角落和咖啡吧，你可以在這裡安靜地閱讀，享受片刻的寧靜。我們還不定期舉辦讀書會、作者簽書會和文化講座...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt me-1 px-1"></i>
                      <p class="text-truncate">台中市中山區吉林路87號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block text-nowrap">查看完整內容</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-13.png" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="btnLove03" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="btnLove03" style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4 text-truncate">心靈療癒中心</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text card-text-truncate">
                      心靈療癒中心是一個專門提供心靈成長和放鬆身心的場所。這裡提供多種療癒服務，包括冥想課程、瑜伽班、心理諮詢和能量療法，幫助顧客釋放壓力、平衡身心。無論你是尋求心靈成長還是單純想要放鬆自己,這裡都是你理想的選擇。
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt me-1 px-1"></i>
                      <p class="text-truncate">台南市士林區天母東路67號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block text-nowrap">查看完整內容</a>
                  </div>
                </div>
              </div>
              <!-- 第二頁 -->
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-31.jpg" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="btnLove04" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="btnLove04" style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4 text-truncate">異國風味餐廳</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text card-text-truncate">
                      異國風味餐廳是一家提供多國料理的餐廳，從義大利麵到印度咖哩，再到日式壽司，應有盡有。<br>
                      每道菜餚都由經驗豐富的主廚精心準備，使用新鮮食材，呈現地道風味。餐廳環境時尚且充滿異國情調，適合家庭聚餐、朋友聚會及浪漫約會。
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt me-1 px-1"></i>
                      <p class="text-truncate">台北市信義區松高路101號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block text-nowrap">查看完整內容</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-32.jpg" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="btnLove05" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="btnLove05" style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4 text-truncate">手作工坊</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text card-text-truncate">
                      手作工坊是一個鼓勵創意和手工藝的場所。這裡提供各種手作課程,如陶藝、手工皂、繪畫和編織，適合不同年齡層的學員。工坊內部設計溫馨，設備齊全，為學員提供舒適的創作環境。<br>
                      手作工坊還定期舉辦手作市集，展示並出售學...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt me-1 px-1"></i>
                      <p class="text-truncate">屏東縣萬華區西園路一段45號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block text-nowrap">查看完整內容</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-30.png" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="btnLove06" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="btnLove06" style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4 text-truncate">露天酒吧</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text card-text-truncate">
                      露天酒吧是一家擁有絕佳景觀的酒吧，提供多種創意調酒和精選啤酒。酒吧位於大樓頂層，擁有寬敞的露天區域，可以俯瞰城市夜景。店內還不定期舉辦現場音樂表演，增添更多娛樂元素。
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt me-1 px-1"></i>
                      <p class="text-truncate">嘉義市外湖區民權東路六段45號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block text-nowrap">查看完整內容</a>
                  </div>
                </div>
              </div>
              <!-- 第三頁 -->
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-33.jpg" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="btnLove04" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="btnLove04" style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4 text-truncate">小森林動物咖啡館</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text card-text-truncate">
                      小森林動物咖啡館是一間融合咖啡與動物陪伴的獨特咖啡館。店內設有多種可愛的小動物，如兔子、豚鼠和小鳥，讓顧客可以在享受美味咖啡的同時，與動物們互動。咖啡館內部裝潢以自然森林為主題，這裡特別適合家庭出遊或愛好動物...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt me-1 px-1"></i>
                      <p class="text-truncate">台北市文山區木柵路三段150號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block text-nowrap">查看完整內容</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-09.png" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="btnLove05" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="btnLove05" style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4 text-truncate">創意工作坊</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text card-text-truncate">
                      創意工作坊是一個專門提供創意活動的場所，適合團體或個人參加。這裡的活動內容多樣，包括陶藝、木工、手工皮革、繪畫和植物插花等，旨在激發參與者的創意潛力。工作坊內設計現代且充滿藝術氛圍，設備齊全，專業老師會指導每...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt me-1 px-1"></i>
                      <p class="text-truncate">桃園市松下區南京東路五段32號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block text-nowrap">查看完整內容</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide h-auto">
                <div class="card border-0 h-100 position-relative">
                  <img src="../assets/images/card-34.jpg" class="card-img-top rounded-3" alt="...">
                  <div class="position-absolute end-0 d-flex align-items-center m-4">
                    <input type="checkbox" class="btn-check" id="btnLove06" autocomplete="off">
                    <label class="btn btn-white border-0 rounded-pill" for="btnLove06" style="padding: 8px 10px;">
                      <div class="heart"></div>
                    </label>
                  </div>
                  <div class="card-body px-6 d-flex flex-column">
                    <div class="d-flex align-items-center mb-4">
                      <h4 class="card-title mb-0 fs-6 fs-lg-5 me-4 text-truncate">魔幻劇場餐廳</h4>
                      <small class="d-flex align-items-center badge bg-green-500 py-2 px-3">
                        <i class="bi bi-bookmark-fill me-2"></i>
                        優惠中
                      </small>
                    </div>
                    <p class="card-text card-text-truncate">
                      魔幻劇場餐廳是一家結合美食與魔術表演的創意餐廳。餐廳內設有小型劇場，每晚都有精彩的魔術表演和即興劇，讓顧客在享用美食的同時，感受魔幻與驚喜。<br>
                      餐廳菜單多樣，包括西式料理、亞洲風味和創意甜點，每道菜都由主廚精心設...
                    </p>
                    <div class="d-flex align-items-center my-6 text-gray-700">
                      <i class="bi bi-geo-alt me-1 px-1"></i>
                      <p class="text-truncate">台東市中正區重慶南路一段105號</p>
                    </div>
                    <a href="#" class="btn btn-gray-200 d-block text-nowrap">查看完整內容</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next swiper-button-next-indexFeaturedShop"></div>
          <div class="swiper-button-prev swiper-button-prev-indexFeaturedShop"></div>
        </div>
        <div class="text-center mt-8">
          <a class="fw-bold border-bottom border-dark " href="featuredShop.html" style="padding: 5.5px 4px;">
            查看更多商家
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
        <!-- 查看完整按鈕modal -->
        <div class="modal fade px-6" id="indexFeaturedShopModal-1" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered mx-auto" style="max-width: 1200px;">
            <div class="modal-content p-4 p-md-10 border-0 position-relative bg-white">
              <button type="button" class="btn-close position-absolute z-3 end-0 top-0 m-6" data-bs-dismiss="modal"
                aria-label="Close"></button>
              <div class="modal-body row p-0">
                <div class="col-lg-5 d-flex flex-column">
                  <div class="my-6 d-block d-lg-none">
                  <h5 class="fs-md-4 mb-4">書香小巷</h5>
                  <div class="d-flex">
                    <div class="d-flex align-items-center">
                      <p class="fs-7">4.3</p>
                      <img src="../assets/images/star.svg" alt="photo" class="ms-1">
                    </div>
                    <small class="d-flex align-items-center badge bg-green-500 py-2 px-3 ms-4">
                      <i class="bi bi-bookmark-fill me-2"></i>
                      優惠中
                    </small>
                  </div>
                </div>
                <div>
                  <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                    class="swiper indexModalMySwiper2">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide mb-4">
                        <img class="img-fluid modalRounded" src="../assets/images/card-11.png" style="width: 1000px;" />
                      </div>
                      <div class="swiper-slide mb-4">
                        <img class="img-fluid modalRounded" src="../assets/images/card-35.jpg" />
                      </div>
                      <div class="swiper-slide mb-4">
                        <img class="img-fluid modalRounded" src="../assets/images/card-36.jpg" />
                      </div>
                      <div class="swiper-slide mb-4">
                        <img class="img-fluid modalRounded" src="../assets/images/card-37.jpg" />
                      </div>
                    </div>
                  </div>
                  <div thumbsSlider="" class="swiper indexModalMySwiper mb-4">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img class="img-fluid modalRounded" src="../assets/images/card-11.png" />
                      </div>
                      <div class="swiper-slide">
                        <img class="img-fluid modalRounded" src="../assets/images/card-35.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img class="img-fluid modalRounded" src="../assets/images/card-36.jpg" />
                      </div>
                      <div class="swiper-slide">
                        <img class="img-fluid modalRounded" src="../assets/images/card-37.jpg" />
                      </div>
                    </div>
                    <div class="swiper-button-next swiper-button-next-indexModalMySwiper"></div>
                    <div class="swiper-button-prev swiper-button-prev-indexModalMySwiper"></div>
                  </div>
                </div>
                <div class="d-flex align-items-center text-gray-700 mb-2">
                  <i class="bi bi-geo-alt me-1 px-1"></i>
                  <small>台北馬山 2000文創園區</small>
                </div>
                <div class="d-flex align-items-center text-gray-700 mb-2">
                  <i class="bi bi-clock me-1 px-1"></i>
                  <small>周一 ~ 周日<span class="ms-6 ms-md-4">08:00~22:00</span></small>
                </div>
                <picture>
                  <source media="(min-width: 375px)" srcset="../assets/images/map-lg.png">
                  <img class="mb-4 img-fluid" src="../assets/images/map-sm.png" alt="photo">
                </picture>
                <a href="#saledropdown" data-bs-toggle="dropdown" aria-expanded="false"
                  class="btn btn-outline-shadow d-block mt-auto mb-6 mb-lg-0">領取優惠券</a>
                <div class="dropdown-menu top-50 start-50 translate-middle p-4 border-0"
                  aria-labelledby="dropdownMenuButton1" style="width: 300px;height: 300px;">
                  <div class="d-flex justify-content-between">
                    <h5>領取優惠券</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                </div>

              </div>
              <div class="col-lg-7 d-flex flex-column">
                <div class="mb-6 d-none d-lg-block">
                  <h5 class="fs-md-4 mb-4">書香小巷</h5>
                  <div class="d-flex">
                    <div class="d-flex align-items-center">
                      <p class="fs-7">4.3</p>
                      <img src="../assets/images/star.svg" alt="photo" class="ms-1">
                    </div>
                    <small class="d-flex align-items-center badge bg-green-500 py-2 px-3 ms-4">
                      <i class="bi bi-bookmark-fill me-2"></i>
                      優惠中
                    </small>
                  </div>
                </div>
                <div class="bg-light p-4 p-md-6 border rounded-3 mb-auto modalHeight-100 overflow-y-scroll">
                  <section class="mb-4">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="d-flex align-items-center">
                        <img src="../assets/images/author-02.png" alt="photo">
                        <h6 class="fs-8 ms-4">劉明</h6>
                      </div>
                      <small class="text-gray-700">2024/04/26 </small>
                    </div>
                    <div class="bg-white border rounded-3 p-5 py-lg-6 px-lg-8">
                      <div class="d-flex align-items-center mb-4">
                        <p>評分：</p>
                        <div class="d-flex align-items-center">
                          <img class="me-2" src="../assets/images/star.svg" alt="photo">
                          <img class="me-2" src="../assets/images/star.svg" alt="photo">
                          <img class="me-2" src="../assets/images/star.svg" alt="photo">
                          <img class="me-2" src="../assets/images/star.svg" alt="photo">
                          <img src="../assets/images/starLine.svg" alt="photo">
                        </div>
                      </div>
                      <p>邊喝咖啡邊閱讀的好去處!!</p>
                    </div>
                  </section>
                  <section>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="d-flex align-items-center">
                        <img src="../assets/images/author-03.png" alt="photo">
                        <h6 class="fs-8 ms-4">Samew5151</h6>
                      </div>
                      <small class="text-gray-700">2024/04/26 </small>
                    </div>
                    <div class="bg-white border rounded-3 p-5 py-lg-6 px-lg-8">
                      <div class="d-flex align-items-center mb-4">
                        <p>評分：</p>
                        <div class="d-flex align-items-center">
                          <img class="me-2" src="../assets/images/star.svg" alt="photo">
                          <img class="me-2" src="../assets/images/star.svg" alt="photo">
                          <img class="me-2" src="../assets/images/star.svg" alt="photo">
                          <img class="me-2" src="../assets/images/star.svg" alt="photo">
                          <img src="../assets/images/star.svg" alt="photo">
                        </div>
                      </div>
                      <p>書籍眾多，讓人放鬆的地方</p>
                    </div>
                  </section>
                </div>
                <textarea class="form-control border-gray-500 p-6 modalTextrea my-4" id="exampleFormControlTextarea1"
                  rows="3" placeholder="留下評論......" style="resize:none;height: 126px;"></textarea>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <p>評分：</p>
                    <div class="d-flex align-items-center">
                      <div class="d-flex justify-content-center align-items-center me-2">
                        <input type="checkbox" class="btn-check" id="Starmodal-1" autocomplete="off">
                        <label class="btn btn-white border-0 rounded-pill p-0" for="Starmodal-1">
                          <div class="star"></div>
                        </label>
                      </div>
                      <div class="d-flex justify-content-center align-items-center me-2">
                        <input type="checkbox" class="btn-check" id="Starmodal-2" autocomplete="off">
                        <label class="btn btn-white border-0 rounded-pill p-0" for="Starmodal-2">
                          <div class="star"></div>
                        </label>
                      </div>
                      <div class="d-flex justify-content-center align-items-center me-2">
                        <input type="checkbox" class="btn-check" id="Starmodal-3" autocomplete="off">
                        <label class="btn btn-white border-0 rounded-pill p-0" for="Starmodal-3">
                          <div class="star"></div>
                        </label>
                      </div>
                      <div class="d-flex justify-content-center align-items-center me-2">
                        <input type="checkbox" class="btn-check" id="Starmodal-4" autocomplete="off">
                        <label class="btn btn-white border-0 rounded-pill p-0" for="Starmodal-4">
                          <div class="star"></div>
                        </label>
                      </div>
                      <div class="d-flex justify-content-center align-items-center me-2">
                        <input type="checkbox" class="btn-check" id="Starmodal-5" autocomplete="off">
                        <label class="btn btn-white border-0 rounded-pill p-0" for="Starmodal-5">
                          <div class="star"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <a href="#" class="btn btn-primary px-6 px-lg-13">送出評論</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 優惠券 -->

      </div>
    </section>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>