<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁｜JO團趣</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="py-10 container">
      <div class="bg-primary rounded" style="width: 50px; height: 50px;"></div>

      <div class="text-center">
        <a href="#" class="btn btn-secondary d-block d-md-inline-block"> 4564654</a>
      </div>
      
      <h1 class="fs-4 fs-md-1">標題</h1>
      <p class="fs-4 fs-md-1">副標題</p>
      <p class="bg-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed asperiores ullam, facilis officia modi odit. Asperiores odio accusamus molestias officia soluta alias aut repellendus delectus, veniam earum velit. Facere, exercitationem!</p>
      <p class="fs-7">123</p>
      
      
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
