<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>揪友交流｜JO團趣</title>
  <link rel="icon" href="../assets/images/titleIcon.png">
</head>

<body>
  <%- include('./layout/header', {page: "interaction" }); -%>
    <div class="interaction">
      <div class="banner d-flex flex-column flex-md-row justify-content-md-between">
        <img src="../assets/images/banner-08.svg" alt="banner-08"
          class="banner-08 pt-4 pt-md-0 pb-6 pb-md-0 px-8 px-md-0 wow fadeInLeft" style="height: 100%;">
        <div class="title d-flex flex-column align-items-center">
          <h1 class="mb-4 mb-md-6 wow fadeInUp">揪友交流</h1>
          <img src="../assets/images/Decorative-lines-02.svg" alt="Decorative-lines-02" class="pb-4 pb-md-6"
            style="width: 191px; height: 40px; object-fit:contain">
          <p class="fs-8 pb-4 pb-md-6 wow fadeInUp" style="font-weight: 700;">將您揪團的心得與大家分享</p>
          <button type="button" class="btn btn-outline-shadow" data-bs-toggle="modal"
            data-bs-target="#shareModal">我要分享</button>
        </div>
        <img src="../assets/images/banner-07.svg" alt="banner-07"
          class="banner-07 pt-6 pt-md-0 pb-10 pb-md-0 px-8 px-md-0 wow fadeInRight" style=" z-index: -1;">
      </div>

      <div class="search">
        <div class="container">
          <div class="px-3 py-6 px-lg-0 pt-lg-10 pb-lg-6">
            <div class="bg-white p-6" style="border-radius: 20px; box-shadow: 0px 10px 40px 0px #0000000F;">
              <div class="d-lg-flex justify-content-lg-between">
                <div>
                  <form>
                    <div class="input-group pb-4 pb-lg-0">
                      <i class="input-group-text bi bi-geo-alt border-end-0" style="padding: 6px 0 6px 12px;"
                        id="search"></i>
                      <input type="text" class="form-control border-start-0"
                        style="padding: 6px 12px 6px 12px; line-height: 1.5; box-shadow: none;" placeholder="搜尋店家"
                        aria-label="搜尋店家" aria-describedby="search">
                    </div>
                  </form>
                </div>
                <div class="d-flex justify-content-end gap-4 d-none">
                  <a href="#" class="border-bottom text-dark border-dark">排序 +</a>
                  <a href="#" class="border-bottom text-dark border-dark">篩選 +</a>
                </div>
                <div class="d-lg-flex">
                  <div>
                    <div class="d-flex align-items-center pb-4 pb-lg-0 pe-lg-6">
                      <p class="me-6 text-nowrap" style="color: #808080; font-weight: 500;">排序</p>
                      <select class="form-select" aria-label="排序"
                        style="padding: 6px 12px; box-shadow: none; color: #808080;" id="select">
                        <option selected value="0">全部</option>
                        <option value="1">最新上傳</option>
                        <option value="1">最多瀏覽</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <div class="d-flex align-items-lg-center">
                      <p class="me-6 text-nowrap" style="color: #808080; font-weight: 500;">篩選</p>
                      <div class="w-100 d-lg-flex gap-lg-6">
                        <select class="form-select mb-2 mb-lg-0" aria-label="地區"
                          style="padding: 6px 12px; box-shadow: none; color: #808080;" id="block">
                          <option selected value="0">地區（全部）</option>
                          <option value="1">北部</option>
                          <option value="2">中部</option>
                          <option value="3">南部</option>
                          <option value="4">東部</option>
                        </select>
                        <select class="form-select" aria-label="種類"
                          style="padding: 6px 12px; box-shadow: none; color: #808080;" id="type">
                          <option selected value="0">種類（全部）</option>
                          <option value="1">運動</option>
                          <option value="2">學習</option>
                          <option value="3">聚餐</option>
                          <option value="4">旅遊</option>
                          <option value="5">休閒活動</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="store">
        <div class="container px-6 px-md-3">
          <div class="row row-cols-1 row-cols-xl-2 gap-6 gap-md-0 g-md-6">
            <!-- card-1 -->
            <div class="col">
              <div class="card h-100 border-0 d-md-flex flex-md-row wow fadeInUp">
                <div class="position-relative">
                  <img src="../assets/images/card-06.png" class="card-img-top" alt="store-card"
                    style="background-color: #808080; border-radius: 20px 20px 0 0;">
                  <button
                    class="position-absolute bottom-0 start-50 translate-middle-x border-0 px-8 py-2 mb-4 text-nowrap"
                    style="border-radius: 4px; font-weight: 700;" data-bs-toggle="modal"
                    data-bs-target="#storeModal">查看完整內容</button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <div class="card-body py-0 bg-white px-md-6 pt-md-3">
                    <div>
                      <h5 class="card-title fs-9 py-2 pb-md-5 m-0 text-dark fs-md-5">書香咖啡館</h5>
                      <p class="card-text text-ellipsis text-dark fs-10 fs-md-9 mb-md-5">
                        在這裡不僅能喝到美味的咖啡，還能和大家一起討論書籍內容在這裡不僅能喝到美味的咖啡，還能和大家一起討論書籍內容在這裡不僅能喝到美味的咖啡，還能和大家一起討論書籍內容。
                      </p>
                    </div>
                  </div>
                  <div class="card-footer bg-white py-0 border-0 px-md-6 pb-md-3" style="border-radius: 0 0 20px 20px;">
                    <div class="d-flex align-items-center justify-content-between py-2 pt-md-0">
                      <div class="d-flex">
                        <i class="bi bi-calendar4 fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <time class="fs-11 fs-md-9" style="color: #808080;">2024/03/22</time>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eye fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <p class="fs-11 fs-md-9" style="color: #808080;">623</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-centerd justify-content-between border-top">
                      <div class="d-flex align-items-center gap-2 py-4 py-xxl-0">
                        <img src="../assets/images/author-04.png" class="user-img" alt="user"
                          style="width: 24px; height: 24px;">
                        <p class="user-name fs-10" style="font-weight: 700;">若涵</p>
                      </div>
                      <div class="d-none d-xxl-flex flex-column justify-content-center gap-1 py-md-3"
                        style="max-width: 157px;">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員等級：</p>
                          <span class="fs-10 text-dark">銅級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-10 text-dark">3次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card-2 -->
            <div class="col">
              <div class="card h-100 border-0 d-md-flex flex-md-row wow fadeInUp">
                <div class="position-relative">
                  <img src="../assets/images/card-07.png" class="card-img-top" alt="store-card"
                    style="background-color: #808080; border-radius: 20px 20px 0 0;">
                  <button
                    class="position-absolute bottom-0 start-50 translate-middle-x border-0 px-8 py-2 mb-4 text-nowrap"
                    style="border-radius: 4px; font-weight: 700;">查看完整內容</button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <div class="card-body py-0 bg-white px-md-6 pt-md-3">
                    <div>
                      <h5 class="card-title fs-9 py-2 pb-md-5 m-0 text-dark fs-md-5">樓梯跑步</h5>
                      <p class="card-text text-ellipsis text-dark fs-10 fs-md-9 mb-md-5">
                        一起挑戰樓梯跑步吧！💪 無論你是新手還是老手，這是一項讓全身動起來的好運動！不僅可以增強腿部力量，還能提升心肺功能，一起突破自我，燃燒卡路里🔥。
                      </p>
                    </div>
                  </div>
                  <div class="card-footer bg-white py-0 border-0 px-md-6 pb-md-3" style="border-radius: 0 0 20px 20px;">
                    <div class="d-flex align-items-center justify-content-between py-2 pt-md-0">
                      <div class="d-flex">
                        <i class="bi bi-calendar4 fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <time class="fs-11 fs-md-9" style="color: #808080;">2024/03/20</time>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eye fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <p class="fs-11 fs-md-9" style="color: #808080;">128</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-centerd justify-content-between border-top">
                      <div class="d-flex align-items-center gap-2 py-4 py-xxl-0">
                        <img src="../assets/images/author-05.png" class="user-img" alt="user"
                          style="width: 24px; height: 24px;">
                        <p class="user-name fs-10" style="font-weight: 700;">子瑜</p>
                      </div>
                      <div class="d-none d-xxl-flex flex-column justify-content-center gap-1 py-md-3"
                        style="max-width: 157px;">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員等級：</p>
                          <span class="fs-10 text-dark">銅級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-10 text-dark">6次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card-3 -->
            <div class="col">
              <div class="card h-100 border-0 d-md-flex flex-md-row wow fadeInUp">
                <div class="position-relative">
                  <img src="../assets/images/card-08.png" class="card-img-top" alt="store-card"
                    style="background-color: #808080; border-radius: 20px 20px 0 0;">
                  <button
                    class="position-absolute bottom-0 start-50 translate-middle-x border-0 px-8 py-2 mb-4 text-nowrap"
                    style="border-radius: 4px; font-weight: 700;">查看完整內容</button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <div class="card-body py-0 bg-white px-md-6 pt-md-3">
                    <div>
                      <h5 class="card-title fs-9 py-2 pb-md-5 m-0 text-dark fs-md-5">街頭攝影</h5>
                      <p class="card-text text-ellipsis text-dark fs-10 fs-md-9 mb-md-5">
                        城市的每個角落，都藏著一個未被發現的故事。街頭攝影，用鏡頭捕捉瞬間，記錄生活中最真實的情感和風景。每一張照片，都是一個靜止的片刻，訴說著時間的流動與人們的故事。來吧，走上街頭，讓鏡頭替你講述那些平凡中的不凡。
                      </p>
                    </div>
                  </div>
                  <div class="card-footer bg-white py-0 border-0 px-md-6 pb-md-3" style="border-radius: 0 0 20px 20px;">
                    <div class="d-flex align-items-center justify-content-between py-2 pt-md-0">
                      <div class="d-flex">
                        <i class="bi bi-calendar4 fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <time class="fs-11 fs-md-9" style="color: #808080;">2024/03/15</time>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eye fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <p class="fs-11 fs-md-9" style="color: #808080;">769</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-centerd justify-content-between border-top">
                      <div class="d-flex align-items-center gap-2 py-4 py-xxl-0">
                        <img src="../assets/images/author-06.png" class="user-img" alt="user"
                          style="width: 24px; height: 24px;">
                        <p class="user-name fs-10" style="font-weight: 700;">Liam</p>
                      </div>
                      <div class="d-none d-xxl-flex flex-column justify-content-center gap-1 py-md-3"
                        style="max-width: 157px;">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員等級：</p>
                          <span class="fs-10 text-dark">銀級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-10 text-dark">15次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card-4 -->
            <div class="col">
              <div class="card h-100 border-0 d-md-flex flex-md-row wow fadeInUp">
                <div class="position-relative">
                  <img src="../assets/images/card-05.png" class="card-img-top" alt="store-card"
                    style="background-color: #808080; border-radius: 20px 20px 0 0;">
                  <button
                    class="position-absolute bottom-0 start-50 translate-middle-x border-0 px-8 py-2 mb-4 text-nowrap"
                    style="border-radius: 4px; font-weight: 700;">查看完整內容</button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <div class="card-body py-0 bg-white px-md-6 pt-md-3">
                    <div>
                      <h5 class="card-title fs-9 py-2 pb-md-5 m-0 text-dark fs-md-5">戴記扁食</h5>
                      <p class="card-text text-ellipsis text-dark fs-10 fs-md-9 mb-md-5">
                        老字號的美味等著你！戴記扁食，以濃郁湯頭與手工餛飩著名，是許多人心中的深夜食堂。無論你是第一次品嚐，還是熟悉的老朋友，都歡迎來一起享受這經典味道！
                      </p>
                    </div>
                  </div>
                  <div class="card-footer bg-white py-0 border-0 px-md-6 pb-md-3" style="border-radius: 0 0 20px 20px;">
                    <div class="d-flex align-items-center justify-content-between py-2 pt-md-0">
                      <div class="d-flex">
                        <i class="bi bi-calendar4 fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <time class="fs-11 fs-md-9" style="color: #808080;">2024/03/13</time>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eye fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <p class="fs-11 fs-md-9" style="color: #808080;">1120</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-centerd justify-content-between border-top">
                      <div class="d-flex align-items-center gap-2 py-4 py-xxl-0">
                        <img src="../assets/images/author-07.png" class="user-img" alt="user"
                          style="width: 24px; height: 24px;">
                        <p class="user-name fs-10" style="font-weight: 700;">舒婷</p>
                      </div>
                      <div class="d-none d-xxl-flex flex-column justify-content-center gap-1 py-md-3"
                        style="max-width: 157px;">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員等級：</p>
                          <span class="fs-10 text-dark">金級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-10 text-dark">21次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card-5 -->
            <div class="col">
              <div class="card h-100 border-0 d-md-flex flex-md-row wow fadeInUp">
                <div class="position-relative">
                  <img src="../assets/images/card-04.png" class="card-img-top" alt="store-card"
                    style="background-color: #808080; border-radius: 20px 20px 0 0;">
                  <button
                    class="position-absolute bottom-0 start-50 translate-middle-x border-0 px-8 py-2 mb-4 text-nowrap"
                    style="border-radius: 4px; font-weight: 700;">查看完整內容</button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <div class="card-body py-0 bg-white px-md-6 pt-md-3">
                    <div>
                      <h5 class="card-title fs-9 py-2 pb-md-5 m-0 text-dark fs-md-5">手作陶藝工作坊</h5>
                      <p class="card-text text-ellipsis text-dark fs-10 fs-md-9 mb-md-5">
                        放下忙碌的生活，來感受陶土在指尖流動的樂趣吧！在這次的手作陶藝工作坊中，我們將親手打造屬於自己的獨特作品，無論是花瓶、擺飾，還是小物件，都能讓你發揮創意！
                      </p>
                    </div>
                  </div>
                  <div class="card-footer bg-white py-0 border-0 px-md-6 pb-md-3" style="border-radius: 0 0 20px 20px;">
                    <div class="d-flex align-items-center justify-content-between py-2 pt-md-0">
                      <div class="d-flex">
                        <i class="bi bi-calendar4 fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <time class="fs-11 fs-md-9" style="color: #808080;">2024/03/08</time>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eye fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <p class="fs-11 fs-md-9" style="color: #808080;">265</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-centerd justify-content-between border-top">
                      <div class="d-flex align-items-center gap-2 py-4 py-xxl-0">
                        <img src="../assets/images/author-08.png" class="user-img" alt="user"
                          style="width: 24px; height: 24px;">
                        <p class="user-name fs-10" style="font-weight: 700;">Lucas</p>
                      </div>
                      <div class="d-none d-xxl-flex flex-column justify-content-center gap-1 py-md-3"
                        style="max-width: 157px;">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員等級：</p>
                          <span class="fs-10 text-dark">金級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-10 text-dark">22次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card-6 -->
            <div class="col">
              <div class="card h-100 border-0 d-md-flex flex-md-row wow fadeInUp">
                <div class="position-relative">
                  <img src="../assets/images/card-09.png" class="card-img-top" alt="store-card"
                    style="background-color: #808080; border-radius: 20px 20px 0 0;">
                  <button
                    class="position-absolute bottom-0 start-50 translate-middle-x border-0 px-8 py-2 mb-4 text-nowrap"
                    style="border-radius: 4px; font-weight: 700;">查看完整內容</button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <div class="card-body py-0 bg-white px-md-6 pt-md-3">
                    <div>
                      <h5 class="card-title fs-9 py-2 pb-md-5 m-0 text-dark fs-md-5">陶藝製作體驗</h5>
                      <p class="card-text text-ellipsis text-dark fs-10 fs-md-9 mb-md-5">
                        想要親手捏出屬於自己的陶器嗎？來參加我們的陶藝製作體驗吧！無論是初學者還是有經驗的手作愛好者，都可以在這裡享受與陶土親密接觸的樂趣。你將在專業老師的指導下，完成自己的獨特作品，體驗從泥土到藝術品的創作過程！
                      </p>
                    </div>
                  </div>
                  <div class="card-footer bg-white py-0 border-0 px-md-6 pb-md-3" style="border-radius: 0 0 20px 20px;">
                    <div class="d-flex align-items-center justify-content-between py-2 pt-md-0">
                      <div class="d-flex">
                        <i class="bi bi-calendar4 fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <time class="fs-11 fs-md-9" style="color: #808080;">2024/03/02</time>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eye fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <p class="fs-11 fs-md-9" style="color: #808080;">143</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-centerd justify-content-between border-top">
                      <div class="d-flex align-items-center gap-2 py-4 py-xxl-0">
                        <img src="../assets/images/author-09.png" class="user-img" alt="user"
                          style="width: 24px; height: 24px;">
                        <p class="user-name fs-10" style="font-weight: 700;">以翔</p>
                      </div>
                      <div class="d-none d-xxl-flex flex-column justify-content-center gap-1 py-md-3"
                        style="max-width: 157px;">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員等級：</p>
                          <span class="fs-10 text-dark">銅級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-10 text-dark">9次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card-7 -->
            <div class="col">
              <div class="card h-100 border-0 d-md-flex flex-md-row wow fadeInUp">
                <div class="position-relative">
                  <img src="../assets/images/card-10.png" class="card-img-top" alt="store-card"
                    style="background-color: #808080; border-radius: 20px 20px 0 0;">
                  <button
                    class="position-absolute bottom-0 start-50 translate-middle-x border-0 px-8 py-2 mb-4 text-nowrap"
                    style="border-radius: 4px; font-weight: 700;">查看完整內容</button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <div class="card-body py-0 bg-white px-md-6 pt-md-3">
                    <div>
                      <h5 class="card-title fs-9 py-2 pb-md-5 m-0 text-dark fs-md-5">市集漫遊</h5>
                      <p class="card-text text-ellipsis text-dark fs-10 fs-md-9 mb-md-5">
                        讓我們一起走進充滿故事的老街市集，體驗最本土化的市井生活。無論是街邊的老店、經典小吃，還是市集中的人情味，都讓這裡成為一個有溫度的角落。一起漫步、發掘那些被時光悄悄雕琢的風景。
                      </p>
                    </div>
                  </div>
                  <div class="card-footer bg-white py-0 border-0 px-md-6 pb-md-3" style="border-radius: 0 0 20px 20px;">
                    <div class="d-flex align-items-center justify-content-between py-2 pt-md-0">
                      <div class="d-flex">
                        <i class="bi bi-calendar4 fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <time class="fs-11 fs-md-9" style="color: #808080;">2024/02/20</time>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eye fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <p class="fs-11 fs-md-9" style="color: #808080;">245</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-centerd justify-content-between border-top">
                      <div class="d-flex align-items-center gap-2 py-4 py-xxl-0">
                        <img src="../assets/images/author-10.png" class="user-img" alt="user"
                          style="width: 24px; height: 24px;">
                        <p class="user-name fs-10" style="font-weight: 700;">Sarah</p>
                      </div>
                      <div class="d-none d-xxl-flex flex-column justify-content-center gap-1 py-md-3"
                        style="max-width: 157px;">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員等級：</p>
                          <span class="fs-10 text-dark">金級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-10 text-dark">28次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card-8 -->
            <div class="col">
              <div class="card h-100 border-0 d-md-flex flex-md-row wow fadeInUp">
                <div class="position-relative">
                  <img src="../assets/images/card-30.png" class="card-img-top" alt="store-card"
                    style="background-color: #808080; border-radius: 20px 20px 0 0;">
                  <button
                    class="position-absolute bottom-0 start-50 translate-middle-x border-0 px-8 py-2 mb-4 text-nowrap"
                    style="border-radius: 4px; font-weight: 700;">查看完整內容</button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <div class="card-body py-0 bg-white px-md-6 pt-md-3">
                    <div>
                      <h5 class="card-title fs-9 py-2 pb-md-5 m-0 text-dark fs-md-5">精釀啤酒之夜</h5>
                      <p class="card-text text-ellipsis text-dark fs-10 fs-md-9 mb-md-5">
                        想要一起來體驗各式精釀啤酒的魅力嗎？從經典到小眾，這裡有你沒喝過的驚喜口味！邀請你加入我們的啤酒之夜，享受微醺時光，搭配美味小點，來一場味蕾的狂歡！
                      </p>
                    </div>
                  </div>
                  <div class="card-footer bg-white py-0 border-0 px-md-6 pb-md-3" style="border-radius: 0 0 20px 20px;">
                    <div class="d-flex align-items-center justify-content-between py-2 pt-md-0">
                      <div class="d-flex">
                        <i class="bi bi-calendar4 fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <time class="fs-11 fs-md-9" style="color: #808080;">2024/02/18</time>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eye fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <p class="fs-11 fs-md-9" style="color: #808080;">864</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-centerd justify-content-between border-top">
                      <div class="d-flex align-items-center gap-2 py-4 py-xxl-0">
                        <img src="../assets/images/author-11.png" class="user-img" alt="user"
                          style="width: 24px; height: 24px;">
                        <p class="user-name fs-10" style="font-weight: 700;">Daniel</p>
                      </div>
                      <div class="d-none d-xxl-flex flex-column justify-content-center gap-1 py-md-3"
                        style="max-width: 157px;">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員等級：</p>
                          <span class="fs-10 text-dark">金級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-10 text-dark">23次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card-9 -->
            <div class="col">
              <div class="card h-100 border-0 d-md-flex flex-md-row wow fadeInUp">
                <div class="position-relative">
                  <img src="../assets/images/card-29.png" class="card-img-top" alt="store-card"
                    style="background-color: #808080; border-radius: 20px 20px 0 0;">
                  <button
                    class="position-absolute bottom-0 start-50 translate-middle-x border-0 px-8 py-2 mb-4 text-nowrap"
                    style="border-radius: 4px; font-weight: 700;">查看完整內容</button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <div class="card-body py-0 bg-white px-md-6 pt-md-3">
                    <div>
                      <h5 class="card-title fs-9 py-2 pb-md-5 m-0 text-dark fs-md-5">酒吧夜晚聚會</h5>
                      <p class="card-text text-ellipsis text-dark fs-10 fs-md-9 mb-md-5">
                        想要在週末放鬆一下嗎？來到這個氛圍滿分的酒吧，與朋友們一起享受美酒佳餚，聊聊生活、工作，度過愉快的夜晚！這裡有精緻的調酒、咖啡，以及多樣的小點心，無論你是喜歡小酌還是靜靜地品咖啡，都能找到屬於你的樂趣。
                      </p>
                    </div>
                  </div>
                  <div class="card-footer bg-white py-0 border-0 px-md-6 pb-md-3" style="border-radius: 0 0 20px 20px;">
                    <div class="d-flex align-items-center justify-content-between py-2 pt-md-0">
                      <div class="d-flex">
                        <i class="bi bi-calendar4 fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <time class="fs-11 fs-md-9" style="color: #808080;">2024/02/10</time>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eye fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <p class="fs-11 fs-md-9" style="color: #808080;">612</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-centerd justify-content-between border-top">
                      <div class="d-flex align-items-center gap-2 py-4 py-xxl-0">
                        <img src="../assets/images/author-12.png" class="user-img" alt="user"
                          style="width: 24px; height: 24px;">
                        <p class="user-name fs-10" style="font-weight: 700;">Ava</p>
                      </div>
                      <div class="d-none d-xxl-flex flex-column justify-content-center gap-1 py-md-3"
                        style="max-width: 157px;">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員等級：</p>
                          <span class="fs-10 text-dark">金級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-10 text-dark">29次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card-10 -->
            <div class="col">
              <div class="card h-100 border-0 d-md-flex flex-md-row wow fadeInUp">
                <div class="position-relative">
                  <img src="../assets/images/card-28.png" class="card-img-top" alt="store-card"
                    style="background-color: #808080; border-radius: 20px 20px 0 0;">
                  <button
                    class="position-absolute bottom-0 start-50 translate-middle-x border-0 px-8 py-2 mb-4 text-nowrap"
                    style="border-radius: 4px; font-weight: 700;">查看完整內容</button>
                </div>
                <div class="d-flex flex-column justify-content-between">
                  <div class="card-body py-0 bg-white px-md-6 pt-md-3">
                    <div>
                      <h5 class="card-title fs-9 py-2 pb-md-5 m-0 text-dark fs-md-5">咖啡廳慢生活</h5>
                      <p class="card-text text-ellipsis text-dark fs-10 fs-md-9 mb-md-5">
                        來到這個溫馨的咖啡廳，享受一段輕鬆愉快的時光吧！無論是工作、學習、還是純粹的放鬆，這裡的氛圍都會讓你感到舒適自在。點一杯你喜歡的咖啡，與好友們聊聊天、交換書籍、分享生活趣事，讓這段時間充滿溫暖與愉快。
                      </p>
                    </div>
                  </div>
                  <div class="card-footer bg-white py-0 border-0 px-md-6 pb-md-3" style="border-radius: 0 0 20px 20px;">
                    <div class="d-flex align-items-center justify-content-between py-2 pt-md-0">
                      <div class="d-flex">
                        <i class="bi bi-calendar4 fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <time class="fs-11 fs-md-9" style="color: #808080;">2024/02/02</time>
                      </div>
                      <div class="d-flex">
                        <i class="bi bi-eye fs-11 me-1 fs-md-9" style="color: #808080;"></i>
                        <p class="fs-11 fs-md-9" style="color: #808080;">157</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-centerd justify-content-between border-top">
                      <div class="d-flex align-items-center gap-2 py-4 py-xxl-0">
                        <img src="../assets/images/author-13.png" class="user-img" alt="user"
                          style="width: 24px; height: 24px;">
                        <p class="user-name fs-10" style="font-weight: 700;">Noah</p>
                      </div>
                      <div class="d-none d-xxl-flex flex-column justify-content-center gap-1 py-md-3"
                        style="max-width: 157px;">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員等級：</p>
                          <span class="fs-10 text-dark">銀級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-10" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-10 text-dark">16次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav aria-label="Page navigation" class="pt-10 pb-20 pb-md-30">
        <ul class="pagination justify-content-center m-0">
          <li class="page-item">
            <a class="page-link">
              <i class="bi bi-chevron-left"></i>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#"><i class="bi bi-three-dots"></i></a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link active" href="#">6</a></li>
          <li class="page-item"><a class="page-link" href="#">7</a></li>
          <li class="page-item"><a class="page-link" href="#"><i class="bi bi-three-dots"></i></a></li>
          <li class="page-item"><a class="page-link" href="#">20</a></li>
          <li class="page-item">
            <a class="page-link" href="#">
              <i class="bi bi-chevron-right"></i>
            </a>
          </li>
        </ul>
      </nav>

      <!-- storeModal -->
      <div class="modal storemodal fade" id="storeModal" tabindex="-1" aria-labelledby="storeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content flex-xl-row">
            <button type="button" class="btn-close position-absolute top-0 end-0 p-0 mt-4 me-4 mt-xl-6 me-xl-6 fs-xl-5"
              data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="header-modal-body container p-0">
              <div class="row m-0">
                <div class="col-xl-7 p-0 ps-xl-4 order-xl-1">
                  <div class="header px-4 pt-10 border-0 p-xl-0">
                    <h4 class="modal-title" id="storeModal">書香咖啡館</h4>
                    <p class="fs-7 my-4">
                      在一個有點復古風的民宅裡用餐的心情,餐點也很令人垂涎三尺,平價CP值高。椒麻舒肥雞會讓你有股衝動叫第二碗。豬排肉咬起來會感受到真的在吃肉,外裹麵皮只是點綴。不會Q麻糬,是看了評價而點,我也推薦給大家。
                    </p>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="d-flex gap-1">
                        <i class="bi bi-calendar4 fs-9" style="color: #808080;"></i>
                        <time class="fs-9" style="color: #808080;">2024/03/22</time>
                      </div>
                      <div class="d-flex gap-1">
                        <i class="bi bi-eye fs-9" style="color: #808080;"></i>
                        <p class="fs-9" style="color: #808080;">623</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-5 p-0 pe-xl-4 order-xl-0">
                  <div class="modal-body pt-4 pb-10 p-xl-0">
                    <div>
                      <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                        class="swiper storeSwiper2 pb-4">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="../assets/images/card-06.png" class="store-img" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../assets/images/card-38.png" class="store-img" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../assets/images/card-39.png" class="store-img" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../assets/images/card-40.png" class="store-img" />
                          </div>
                        </div>
                      </div>
                      <div thumbsSlider="" class="swiper storeSwiper pb-4">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <img src="../assets/images/card-06.png" class="store-img-small" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../assets/images/card-38.png" class="store-img-small" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../assets/images/card-39.png" class="store-img-small" />
                          </div>
                          <div class="swiper-slide">
                            <img src="../assets/images/card-40.png" class="store-img-small" />
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
                    </div>
                    <div
                      class="d-flex flex-column flex-xl-row justify-content-xl-between align-items-xl-center py-5 w-100"
                      style="border-top: 1px solid #E5E5E5;">
                      <div class="d-flex align-items-center gap-2 gap-xl-4 pb-4 pb-xl-0">
                        <img src="../assets/images/author-04.png" class="user-img" alt="user"
                          style="width: 40px; height: 40px;">
                        <p class="fs-8" style="font-weight: 700;">若涵</p>
                      </div>
                      <div class="d-flex flex-column justify-content-center gap-1">
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-9" style="color: #808080;">會員等級：</p>
                          <span class="fs-9 text-dark">銅級</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <p class="fs-9" style="color: #808080;">會員揪團次數：</p>
                          <span class="fs-9 text-dark">3次</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer border-0 mb-4 px-4">
              <div class="comment p-4 mb-4 p-xl-6"
                style="background-color: #F8F8F8; border-radius: 20px; border: 1px solid #E5E5E5;">
                <div class="comment_content mb-4">
                  <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center gap-4">
                      <img src="../assets/images/author-14.png" alt="user-img">
                      <p class="fs-8" style="font-weight: 700;">浩然</p>
                    </div>
                    <div>
                      <time datetime="2024/04/26" class="fs-10" style="color: #808080">2024/04/26</time>
                    </div>
                  </div>
                  <div class="p-5 bg-white py-xl-6 px-xl-8" style="border-radius: 20px; border: 1px solid #E5E5E5;">
                    <p>這間我也吃過，推薦!</p>
                  </div>
                </div>
                <div class="comment_content">
                  <div class="d-flex align-items-center justify-content-between mb-2">
                    <div class="d-flex align-items-center gap-4">
                      <img src="../assets/images/author-15.png" alt="user-img">
                      <p class="fs-8" style="font-weight: 700;">婉婷</p>
                    </div>
                    <div>
                      <time datetime="2024/04/26" class="fs-10" style="color: #808080">2024/04/26</time>
                    </div>
                  </div>
                  <div class="p-5 bg-white py-xl-6 px-xl-8" style="border-radius: 20px; border: 1px solid #E5E5E5;">
                    <p>我也想去吃這間，求開團!</p>
                  </div>
                </div>
              </div>
              <form action="#" onsubmit="return false;">
                <textarea class="form-control pt-6 ps-6 pe-6 pb-0 mb-4" rows="3" placeholder="留下評論......"
                  id="floatingTextarea"
                  style="border-radius: 4px; border: 1px solid #bfbfbf; min-height: 126px; resize:none;"></textarea>
                <div class="d-flex justify-content-end">
                  <button type="submit" class="border-0 text-nowrap" data-bs-toggle="modal"
                    data-bs-target="#successModal" style="border-radius: 4px; font-weight: 700; padding: 8px 54px;">
                    送出評論
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- successModal -->
      <div class="modal successmodal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-4 rounded-0" style="background-color: #333333;">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center gap-3">
                <svg class="m-2" width="16" height="16" viewBox="0 0 16 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14.6875 1.3125C15.0938 1.6875 15.0938 2.34375 14.6875 2.71875L6.6875 10.7188C6.3125 11.125 5.65625 11.125 5.28125 10.7188L1.28125 6.71875C0.875 6.34375 0.875 5.6875 1.28125 5.3125C1.65625 4.90625 2.3125 4.90625 2.6875 5.3125L5.96875 8.59375L13.2812 1.3125C13.6562 0.90625 14.3125 0.90625 14.6875 1.3125Z"
                    fill="#ABD354" />
                </svg>
                <p class="modal-title" id="successModalLabel" style="color: #fafafa;">評論成功</p>
              </div>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>

      <!-- shareSuccessModal -->
      <div class="modal successmodal fade" id="sharesuccessModal" tabindex="-1" aria-labelledby="sharesuccessModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-4 rounded-0" style="background-color: #333333;">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center gap-3">
                <svg class="m-2" width="16" height="16" viewBox="0 0 16 12" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M14.6875 1.3125C15.0938 1.6875 15.0938 2.34375 14.6875 2.71875L6.6875 10.7188C6.3125 11.125 5.65625 11.125 5.28125 10.7188L1.28125 6.71875C0.875 6.34375 0.875 5.6875 1.28125 5.3125C1.65625 4.90625 2.3125 4.90625 2.6875 5.3125L5.96875 8.59375L13.2812 1.3125C13.6562 0.90625 14.3125 0.90625 14.6875 1.3125Z"
                    fill="#ABD354" />
                </svg>
                <p class="modal-title" id="sharesuccessModalLabel" style="color: #fafafa;">感謝您的分享</p>
              </div>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>

      <!-- shareModal -->
      <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-custom modal-dialog-centered">
          <div class="modal-content">
            <button type="button" class="btn-close position-absolute top-0 end-0 p-0 mt-4 me-4 mt-md-6 me-md-6 fs-md-5"
              data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="interactionShare py-5 p-4 p-md-10">
              <h2 class="text-center mb-5">心得資訊</h2>
              <form>
                <div class="d-flex gap-4 mb-3 pb-2 border-bottom">
                  <label class="text-nowrap">心得類型</label>
                  <div class="d-flex flex-wrap gap-4">
                    <label class="label-custom"><input class="me-2" type="radio" name="category" value="運動">運動</label>
                    <label class="label-custom"><input class="me-2" type="radio" name="category" value="學習">學習</label>
                    <label class="label-custom"><input class="me-2" type="radio" name="category" value="聚餐"
                        checked>聚餐</label>
                    <label class="label-custom"><input class="me-2" type="radio" name="category" value="旅遊">旅遊</label>
                    <label class="label-custom"><input class="me-2" type="radio" name="category"
                        value="休閒活動">休閒活動</label>
                  </div>
                </div>

                <div class="d-flex gap-4 mb-3 pb-2 border-bottom align-items-center">
                  <label class="text-nowrap" for="title">心得標題</label>
                  <input class="w-100 p-2 border-0" type="text" id="title" name="title" placeholder="請輸入標題"
                    style="background-color: transparent;" required>
                </div>

                <div class="d-flex gap-4 mb-3 pb-2 border-bottom align-items-center">
                  <label class="text-nowrap" for="dateInput">活動日期</label>
                  <input type="date" id="dateInput" class="w-100 p-2 border-0"
                    style="background-color: transparent; box-shadow:none" required>
                </div>

                <div class="mb-5">
                  <label class="pb-2" for="photo">活動照片</label>
                  <div class="photo-upload">
                    <input class="pb-5" type="file" id="photo" name="photo" multiple style="width: 196px;">
                    <p class="fs-10" style="color: #808080;">請至少上傳一張照片，最多四張</p>
                    <p class="fs-10" style="color: #808080;">上傳檔案大小上限：128MB</p>
                  </div>
                </div>

                <div class="mb-5">
                  <label class="pb-2" for="content">心得內容</label>
                  <textarea class="w-100 form-control" id="content" name="content" rows="5" placeholder="請留下您的心得..."
                    required></textarea>
                </div>

                <div class="submit-btn mb-5">
                  <button data-bs-toggle="modal" data-bs-target="#sharesuccessModal" type="submit"
                    style="border-radius: 4px; font-weight: 700; padding: 8px 54px;">送出</button>
                </div>
              </form>
            </div>
            <!-- <div class="modal-header">
              <h5 class="modal-title" id="shareModalLabel">Modal title</h5>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>


    <%- include('./layout/footer'); -%>


      <script type="module" src="../main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
</body>

</html>