<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>揪友交流｜JO團趣</title>
</head>

<body style="background-color:#FAFAFA;">
  <%- include('./layout/header'); -%>
    <div class="interaction">
      <div class="banner d-flex flex-column flex-md-row justify-content-md-between align-items-center">
        <img src="../assets/images/banner-08.png" alt="banner-08"
          class="banner-08 pt-4 pt-md-0 pb-6 pb-md-0 px-8 px-md-0">
        <div class="title d-flex flex-column align-items-center">
          <p class="h2 text-center pb-4" style="font-weight: 300;">揪友交流</p>
          <img src="../assets/images/Decorative-lines-02.png" alt="Decorative-lines-02" class="pb-4"
            style="width: 191px; height: 40px; object-fit:contain">
          <p class="fs-8 pb-4" style="font-weight: 700;">將您揪團的心得與大家分享</p>
          <button class="btn btn-outline-shadow">我要分享</button>
        </div>
        <img src="../assets/images/banner-07.png" alt="banner-07"
          class="banner-07 pt-4 pt-md-0 pb-10 pb-md-0 px-8 px-md-0">
      </div>
    </div>





    <%- include('./layout/footer'); -%>


      <script type="module" src="../main.js"></script>
</body>

</html>